<template>
	<div class="status" v-if="statusVisible">
		<p v-bind:class="{ error : statusIsError, success : statusIsSuccess }" v-html="statusMessage"></p>
	</div>
</template>

<script>
	export default {
		name: 'StatusMessage',
		data () {
			return {
				statusIsError: false,
				statusIsSuccess: false,
				statusTimeout: 6000,
				statusThread: null,
				statusVisible: false,
				statusMessage: '',
				statusInstances: []
			};
		},
		methods: {
			displaySuccessMessage (message) {
				this.displayStatusMessage(message, 'success', this.statusTimeout * 3);
			},
			displayErrorMessage (message) {
				this.displayStatusMessage(message, 'error', this.statusTimeout);
			},
			displayStatusMessage (message, type, timeout) {
				this.clearThreads();

				if (type == 'error') {
					this.statusIsError = true;
					this.statusIsSuccess = false;
				}
				else if (type == 'success') {
					this.statusIsError = false;
					this.statusIsSuccess = true;
				}

				if (typeof this.$root.messageCollection[message] !== 'undefined') {
					this.statusMessage = this.$root.messageCollection[message];
				}
				else {
					this.statusMessage = message;
				}
				this.statusVisible = true;

				this.statusThread = setTimeout( () => {
					this.resetStatusMessage();
				}, timeout);
				this.statusInstances.push(this.statusThread);
			},
			clearThreads () {
				for (var i in this.statusInstances) {
					clearTimeout(this.statusInstances[i]);
				}
			},
			resetStatusMessage () {
				this.statusVisible = false;
				this.statusMessage = '';
				this.statusThread = null;
				this.statusIsError = false;
				this.statusIsSuccess = false;
			}
		}
	}
</script>
