.main-content.dashboard {
	display: flex;
	flex-direction: row;

	.statistics {
		flex: 0 1 40%;
		padding: 0 30px;

		.item {
			padding: 6px 0;
			font-size: 16px;
			color: $fg-color-grey-2;

			.number {
				color: $fg-color-accent;
			}
		}
	}

	.emails {
		flex: 0 1 60%;

		.card {
			margin-bottom: 40px;

			.icon-refresh {
				margin-right: 16px;
			}

			.table {
				.col.one { flex: 0 0 27%; }
				.col.two { flex: 0 0 24%; }
				.col.three { flex: 0 0 17%; }
				.col.four { flex: 0 0 13%; }
				.col.five { flex: 0 0 19%;}
			}

			.status {
				flex: 0 1 auto;
				padding-top: 10px;
				padding-right: 20px;
				text-align: right;
				overflow: hidden;
			}
		}

		.card.send .row + .row {
			margin-top: 10px;
		}

		.card .row {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			button {
				min-width: 180px;
			}

			textarea {
				height: 120px;
				resize: none;
			}

			.label {
				padding-right: 10px;
				flex: 0 0 160px;
				font-size: 16px;
				line-height: 44px;
				text-align: right;
				color: $fg-color-grey-2;
			}
		}
	}
}
