.main-content.lists {
	.body {
		margin-bottom: 40px;

		.card {

			.items-list {
				color: $fg-color-grey-1;

				.tasks-loading {
					padding: 10px;
				}

				.tasks-wrapper {
					padding: 0 0 14px 20px;
					.task {
						padding: 10px;
						img {
							margin-top: 2px;
							margin-right: 8px;
						}
						line-height: 24px;
					}
				}
			}

			.no-items-found {
				color: $fg-color-grey-1;
			}

			.table {

				.checkbox-icon {
					margin: 2px auto 0 auto;
					float: none;
				}

				.sorting-icon {
					position: absolute;
					width: 20px;
					height: 20px;
					right: 7px;
					top: 7px;
					overflow: hidden;
				}

				.sorting-icon.asc {
					background-image: url('/assets/imgs/icon-sorting-up.png');
				}

				.sorting-icon.desc {
					background-image: url('/assets/imgs/icon-sorting-down.png');
				}

				.col.one { flex: 0 0 7%; }     /* Selected */
				.col.two { flex: 0 0 5%; }     /* ID */
				.col.three { flex: 0 0 22%; }  /* User */
				.col.four { flex: 0 0 38%; }   /* Title */
				.col.five { flex: 0 0 10%; }   /* Created */
				.col.six { flex: 0 0 7%; }     /* Tasks */
				.col.seven { flex: 1 0 auto; } /* Actions */
			}
		}
	}
}
