.main-content.login {

	.page-title {
		margin-bottom: 0px;
		color: rgb(2, 179, 228);
		font-size: 28px;
		line-height: 38px;
	}

	.page-title-sub {
		margin-bottom: 40px;
		color: $fg-color-grey-3;
		font-size: 14px;
		line-height: 20px;
	}

	.page-title,
	.page-title-sub {
		text-align: center;
	}

	.body {
		width: 500px;
		margin: 0 auto;

		.card {
			.content {
				padding: 26px 80px;
			}

			.input input {
				margin-bottom: 14px;
			}

			.input button {
				width: 100%;
			}
		}
	}
}
