.main-menu {
	display: flex;
	flex-direction: row;

	.item {
		flex: 0 0 auto;
		font-size: 18px;
		padding: 10px 16px;
		transition: color $anim-transition-time, border-bottom $anim-transition-time;
		border-bottom: 1px solid $fg-color-grey-5;
	}

	.item.active,
	.item:hover:not(.active) {
		color: $fg-color-accent;
		border-bottom-color: $fg-color-accent;
	}

	.item.active {
		cursor: default;
	}
}
