.main-content {
	padding-top: 50px;
}

.main-content.users,
.main-content.lists {

	.footer {
		display: flex;
		flex-direction: row;
		color: $fg-color-grey-1;

		.pagination-wrapper {
			margin-left: 60px;
			/*padding-top: 12px;*/
			flex: 1 0 auto;

			.pagination {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;

				.from, .to {
					min-width: 26px;
				}

				.total {
					min-width: 34px;
				}

				.from, .to, .total {
					color: $fg-color-accent;
					text-align: center;
				}

				span {
					line-height: 20px;
					display: inline-block;
				}

				.page-number + .link.button {
					margin-left: 10px;
				}

				.link.button + .button {
					margin-left: 4px;
				}

				.showing {
					padding: 0 10px 0 10px;
					color: $fg-color-grey-7;
				}

				.page-number {
					min-width: 32px;
					display: inline;
					padding: 0 4px;
					line-height: 20px;
					cursor: pointer;
					text-align: center;
					border-radius: 2px;
					background-color: $bg-color-base-darker-2;
				}

				.page-number:hover:not(.active) {
					color: $fg-color-accent;
				}

				.page-number + .page-number {
					margin-left: 2px;
				}

				.page-number.active {
					background-color: $bg-color-accent;
					color: $fg-color-white;
					cursor: default;
				}
			}
		}

		.navigation-wrapper {
			flex: 0 0 400px;
			padding-bottom: 40px;

			select {
				width: auto;
				margin-right: 10px;
				background-color: $bg-color-white;
			}
			.show-per-page {
				margin-top: 20px;
				span {
					display: inline-block;
				}
				.text-show {
					width: 100px;
					margin-right: 10px;
					text-align: right;
				}
			}
			.action-with-selected {
				.text {
					width: 100px;
					margin-right: 10px;
					display: inline-block;
					text-align: right;
				}
				select {
					width: auto;
				}
			}
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		padding: 0 0 40px 0;

		.search {
			flex: 0 0 300px;
		}

		.filter {
			flex: 0 0 auto;
			padding: 0 0 0 30px;
			font-size: 16px;
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;

			span {
				flex: 0 0 auto;
				padding-right: 10px;
				color: $fg-color-grey-2;
			}

			select {
				flex: 0 0 auto;
				width: auto;
				color: $fg-color-grey-2;
				background-color: $bg-color-white;
				display: block;
			}
		}

		.other {
			padding-left: 30px;
			flex: 1 0 auto;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
}

.button {
	padding: 0 6px;
	border-width: 0;
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	background-color: $bg-color-accent;
	transition: background-color $anim-transition-time;
}

.button:hover:not(.disabled) {
	background-color: $bg-color-accent-darker;
}

.button.disabled {
	transition: all 0s ease 0s;
	opacity: 0.45;
	cursor: default;
}
