.main-content.lists .body .card .table,
.main-content.users .body .card .table,
.main-content.dashboard .emails .card .table {
	border: 1px solid $fg-color-grey-8;

	.row:nth-child(2n+3) {
		background-color: $bg-color-base;
	}

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.col {
			padding: 4px 8px;
			color: $fg-color-grey-1;
			position: relative;
			overflow: hidden;

			.mask {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.button:hover:not(.disabled) {
				background-color: $bg-color-accent-darker;
			}

			.button.warn {
				background-color: $bg-color-accent-warn;
			}

			.button.warn:hover {
				background-color: $bg-color-accent-warn-darker;
			}

			.redirect {
				color: $fg-color-accent;
			}

			.redirect:hover {
				color: $fg-color-accent-darker;
			}
		}

		.col + .col {
			border-left: 1px solid $fg-color-grey-5;
		}
	}

	.row:nth-child(2n+3) {
		background-color: $bg-color-base;
	}

	.row + .row {
		border-bottom: 1px solid $fg-color-grey-8;
	}

	.row.head {
		.col {
			cursor: default;
			background-color: $bg-color-base-darker;
			border-bottom: 2px solid $fg-color-grey-8;
		}
	}
}
