.main-content.users {

	.body {
		margin-bottom: 40px;

		.card {

			.no-items-found {
				color: $fg-color-grey-1;
			}

			.table {

				.checkbox-icon {
					margin: 2px auto 0 auto;
					float: none;
				}

				.sorting-icon {
					position: absolute;
					width: 20px;
					height: 20px;
					right: 7px;
					top: 7px;
					overflow: hidden;
				}

				.sorting-icon.asc {
					background-image: url('/assets/imgs/icon-sorting-up.png');
				}

				.sorting-icon.desc {
					background-image: url('/assets/imgs/icon-sorting-down.png');
				}

				.col.one { flex: 0 0 7%; }    /* Selected */
				.col.two { flex: 0 0 5%; }    /* ID */
				.col.three { flex: 0 0 13%; } /* Name */
				.col.four { flex: 0 0 17%; }  /* E-Mail */
				.col.five { flex: 0 0 9%; }   /* Created */
				.col.six { flex: 0 0 9%; }    /* Last Login */
				.col.seven { flex: 0 0 10%; }  /* Suspended */
				.col.eight { flex: 0 0 6%; }  /* Lists */
				.col.nine { flex: 1 0 auto; } /* Actions */
			}
		}
	}
}
