.all-lists {
	flex: 0 0 400px;
}

.all-lists > .wrapper {
	padding: 0 0 0 60px;
	font-size: 22px;
	line-height: 32px;
}

.all-lists .add-icon {
	width: 20px;
	height: 20px;
	margin-top: 7px;
}

.all-lists .new-list {
	margin-bottom: 12px;
	display: inline-block;
	cursor: pointer;
	color: $fg-color-grey-2;
}

.all-lists .all {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 24px;
}

.all-lists .all .item {
	position: relative;
	flex: 0 0 auto;
	color: $fg-color-grey-2;
}

.all-lists .all .item .selected-item {
	position: absolute;
	top: 2px;
	left: -36px;
	width: 20px;
	height: 20px;
}

.all-lists .all .item .stat {
	min-width: 50px;
	margin-right: 4px;
	color: $fg-color-grey-4;
}

.all-lists .all .item .stat .completed {
	color: $fg-color-accent;
}

.all-lists .all .item .link {
	cursor: pointer;
}

.all-lists .all .item .link,
.all-lists .all .item .stat {
	float: left;
}

.all-lists .card {
	width: auto;
	margin: 0 0 20px 0;
}

.all-lists .card .input input + select {
	margin-top: 10px;
}

.all-lists .card .wrapper .content {
	position: relative;
	font-size: 14px;
	line-height: 24px;
}

.all-lists .card .wrapper .content input + label {
	margin-top: 10px;
}

.all-lists .card .input .create {
	margin: 20px 0 0 0;
}

.all-lists .card .input button {
	width: 100%;
	padding: 0 25px;
}

.all-lists .card .input button:hover {
	background-color: $bg-color-accent-darker;
}

.all-lists .new-list,
.all-lists .all .item .link {
	transition: color $anim-transition-time;
}

.all-lists .new-list:hover,
.all-lists .all .item .link:hover {
	color: $fg-color-accent;
}
