@keyframes listEditorBlink {
	from { background-color: $bg-color-accent; }
	to { background-color: transparent; }
}

.anim-focus-list-editor {
	animation-name: listEditorBlink;
	animation-duration: .6s;
}
