.credentials {
	width: 500px;
	padding-top: 50px;
}

.credentials .section-name {
	text-align: center;
}

.credentials .card .content {
	padding: 26px 80px;
	color: $fg-color-grey-1;
}

.credentials .input input {
	margin-bottom: 14px;
}

.credentials .input button {
	width: 100%;
}

.credentials .card .content .links {
	padding-top: 10px;
	color: $fg-color-grey-2;
	text-align: center;
}

.credentials .card .content .links .link {
	color: inherit;
	cursor: pointer;
	transition: color $anim-transition-time;
	display: inline-block;
}

.credentials .card .content .links .link:hover {
	color: $fg-color-accent;
}
