header.user {
	padding: 20px 0;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

header.user .image {
	position: relative;
	width: 80px;
	height: 80px;
	border: 0;
	flex: 0 0 auto;
	overflow: hidden;
}

header.user .image img {
	width: 100%;
	height: 100%;
}

header .menu {
	flex: 0 0 auto;
	display: flex;
	color: $fg-color-grey-2;
}

header .menu .item {
	padding: 6px 8px;
	flex: 0 0 auto;
	transition: color $anim-transition-time;
}

header .menu .item:hover {
	color: $fg-color-accent;
}

header .menu .separator {
	padding: 6px 4px;
	flex: 0 0 auto;
	color: $fg-color-grey-5;
}

header .menu .separator svg {
	fill: $fg-color-grey-6;
}

header .hello {
	flex: 1 0 auto;
	color: $fg-color-grey-1;
	text-align: right;
	font-size: 18px;
}

header .menu,
header .hello {
	margin-right: 30px;
}
