.user-account {}

.user-account .go-back {
	padding-bottom: 36px;
	color: $fg-color-grey-2;
}

.user-account .go-back .goback-icon {
	width: 20px;
	height: 20px;
	margin-top: 2px;
	margin-right: 6px;
	float: left;
}

.user-account .go-back .link {
	display: inline-block;
	color: inherit;
	transition: color $anim-transition-time;
	cursor: pointer;
}

.user-account .go-back .link:hover {
	color: $fg-color-accent;
}

.user-account .content {
	display: flex;
	flex-direction: row;
}

.user-account .content .profile-photo,
.user-account .content .change-password {
	flex: 0 0 50%;
}

.user-account .change-password {
	padding-right: 20px;
}

.user-account .profile-photo {
	padding-left: 20px;
}

.user-account .change-password .submit button {
	width: 160px;
	float: right;
	transition: background-color $anim-transition-time;
}

.user-account .change-password .submit button:hover {
	background-color: $bg-color-accent-darker;
}

.user-account .change-password .card .button-wrapper {
	flex: 0 0 160px;
}

.user-account .change-password .card .status-wrapper {
	flex: 1 0 auto;
}

.user-account .change-password .card .status {
	padding: 10px 20px 10px 0;
	text-align: right;
}

.user-account .change-password .card .content {
	flex-direction: column;
}

.user-account .change-password .card .line {
	position: relative;
	display: flex;
	flex-direction: row;
}

.user-account .change-password .card .line + .line {
	margin-top: 20px;
}

.user-account .change-password .card .name-wrapper {
	flex: 0 0 160px;
}

.user-account .change-password .card .name {
	font-size: 16px;
	padding: 5px 0;
	vertical-align: middle;
	color: $fg-color-grey-2;
}

.user-account .change-password .card .field-wrapper {
	flex: 1 0 auto;
}

.user-account .change-password .card .field {
	width: 100%;
}

.user-account .profile-photo .card {
	min-height: 346px;
}

.user-account .profile-photo .card .content {
	position: relative;
	display: flex;
	flex-direction: row;
}

.user-account .profile-photo .card .current-photo {
	padding-right: 0px;
	text-align: center;
}

.user-account .profile-photo .card .current-photo .icon {
	vertical-align: top;
	margin: 2px 3px 0 0;
	float: none;
}

.user-account .profile-photo .card .current-photo .delete {
	cursor: pointer;
	color: $fg-color-grey-2;
	transition: color $anim-transition-time;
	display: inline-block;
}

.user-account .profile-photo .card .current-photo .delete:hover {
	color: $fg-color-accent-warn;
}

.user-account .profile-photo .card .current-photo .photo-wrapper {
	position: relative;
	margin: 0 auto 10px;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.user-account .profile-photo .card .current-photo .photo-wrapper img {
	width: 100%;
	height: 100%;
}

.user-account .profile-photo .card .current-photo,
.user-account .profile-photo .card .edit-photo {
	flex: 0 0 50%;
}

.user-account .profile-photo .card .edit-photo .status {
	text-align: left;
}

.user-account .profile-photo .card .edit-photo .select-photo-file-wrapper {
	position: relative;
}

.user-account .profile-photo .card .edit-photo .select-photo-file-wrapper input[type=file] {
	display: none;
}

.user-account .profile-photo .card .edit-photo .browse-files {
	min-width: 150px;
	height: 34px;
	padding: 0 18px;
	line-height: 34px;
	flex: 1 0 auto;
	border-radius: 2px;
	color: $fg-color-white;
	background-color: $bg-color-accent;
	transition: background-color $anim-transition-time;
	cursor: pointer;
	font-size: 14px;
}

.user-account .profile-photo .card .edit-photo .upload-action .upload-button:hover,
.user-account .profile-photo .card .edit-photo .browse-files:hover {
	background-color: $bg-color-accent-darker;
}

.user-account .profile-photo .card .edit-photo .media-info {
	padding: 15px 0;
	color: $fg-color-grey-2;
}

.user-account .profile-photo .card .edit-photo .media-info span {
	color: $fg-color-grey-7;
}

.user-account .profile-photo .card .edit-photo .upload-status {
	padding-top: 10px;
}

.user-account .profile-photo .card .edit-photo .upload-status.error {
	color: $fg-color-accent-warn;
}

.user-account .profile-photo .card .edit-photo .upload-status.success {
	color: $fg-color-accent;
}

.user-account .profile-photo .card .edit-photo .select-file-name {
	padding-top: 14px;
	font-size: 12px;
	line-height: 18px;
	color: $fg-color-accent;
}

.user-account .profile-photo .card .edit-photo .upload-action .upload-button {
	min-width: 150px;
}

.user-account .profile-photo .card .edit-photo .upload-action .upload-button.inActive {
	cursor: default;
	opacity: 0.4;
}
