.user-lists {
	display: flex;
	flex-direction: row;
}

.user-lists .selected-list {
	flex: 0 0 800px;
}

.user-lists .card {
	color: $fg-color-grey-1;
}

.user-lists .card .header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-lists .card .header input {
	width: 265px;
	margin-right: 20px;
	flex: 0 0 auto;
}

.user-lists .card .header .hide-completed-items,
.user-lists .card .header .delete-list,
.user-lists .card .header .edit-list {
	cursor: pointer;
}

.user-lists .card .header .delete-list .link,
.user-lists .card .header .edit-list .link {
	flex: 0 0 auto;
}

.user-lists .card .header .hide-completed-items,
.user-lists .card .header .delete-list .link,
.user-lists .card .header .edit-list .link,
.user-lists .card .tasks-list .task .wrapper {
	transition: color $anim-transition-time;
}

.user-lists .card .header .hide-completed-items:hover,
.user-lists .card .tasks-list .task .wrapper:hover {
	color: $fg-color-accent;
}

.user-lists .card .header .delete-list .link:hover {
	color: $fg-color-accent-warn;
}

.user-lists .card .header .edit-list .link:hover {
	color: $fg-color-accent;
}

.user-lists .card .menu button,
.user-lists .card .menu button.warn {
	transition: background-color $anim-transition-time;
}

.user-lists .card .header .hide-completed-items .checkbox-icon,
.user-lists .card .tasks .task .checkbox-icon {
	margin-top: 2px;
	margin-right: 8px;
}

.user-lists .card .header .delete-list,
.user-lists .card .header .edit-list {
	flex: 1 0 auto;
}

.user-lists .card .header .edit-list .link,
.user-lists .card .header .delete-list .link {
	float: right;
}

.user-lists .card .menu {
	height: 60px;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
}

.user-lists .card .menu .completed,
.user-lists .card .menu .incompleted {
	flex: 0 0 50%;
	display: block;
	padding: 0;
}

.user-lists .card .menu .completed.active button,
.user-lists .card .menu .incompleted.active button {
	cursor: pointer;
}

.user-lists .card .menu .completed.active button:hover,
.user-lists .card .menu .incompleted.active button:hover {
	background-color: $bg-color-accent-darker;
}

.user-lists .card .menu .completed.active button.warn:hover,
.user-lists .card .menu .incompleted.active button.warn:hover {
	background-color: $bg-color-accent-warn-darker;
}

.user-lists .card .menu .completed.active button,
.user-lists .card .menu .incompleted.active button {
	opacity: 1;
}

.user-lists .card .menu button {
	padding: 0 6px;
	border-width: 0;
	border-radius: 2px;
	color: $fg-color-white;
	line-height: 20px;
	float: left;
	opacity: 0.45;
}

.user-lists .card .menu button + button {
	margin-left: 6px;
}

.user-lists .card .menu button {
	background-color: $bg-color-accent;
}

.user-lists .card .menu button.warn {
	background-color: $bg-color-accent-warn;
	margin-right: 10px;
}

.user-lists .card .tasks-list {
	display: flex;
	flex-direction: row;
}

.user-lists .card .tasks-list .tasks,
.user-lists .card .tasks-list .message {
	flex: 0 1 50%;
}

.user-lists .card .tasks-list .message {
	color: $fg-color-accent-warn;
}

.user-lists .card .completed {
	padding-right: 10px;
}

.user-lists .card .completed {
	padding-left: 10px;
}

.user-lists .card .incompleted,
.user-lists .card .completed {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
}

.user-lists .card .tasks-list .task {
	position: relative;
	cursor: default;
}

.user-lists .card .tasks-list .task .wrapper {
	cursor: pointer;
	display: inline-block;
}

.user-lists .card .tasks-list .task + .task {
	margin-top: 8px;
}

.user-lists .card .tasks .task .checked-icon {
	width: 20px;
	height: 20px;
	margin-top: 2px;
	margin-right: 6px;
}
