header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

header.admin {
	padding: 20px 0;
}

header .hello {
	flex: 1 0 auto;
	color: $fg-color-grey-1;
	text-align: right;
	font-size: 18px;
}

header .hello {
	margin-right: 30px;
}

header .logout {
	font-size: 18px;
	color: $fg-color-grey-2;
	display: inline-block;
	flex: 0 0 auto;
}

header .logout:hover {
	color: $fg-color-accent;
}
