html, body, header, #app {
	position: relative;
}

.container {
	width: 1200px;
}

.link {
	cursor: pointer;
}

.loading {
	padding: 12px 0;
	color: $fg-color-grey-2;
}

.icon {
	float: right;
}

.icon-refresh {
	width: 20px;
	height: 20px;

	.icon-color {
		fill: $fg-color-grey-3;
	}
}

.icon-refresh:hover:not(active) .icon-color {
	fill: $fg-color-accent;
}

.icon-refresh.active .icon-color {
	fill: $fg-color-accent;
}

.container {
	margin: 0 auto;
}

.input label {
	font-size: 16px;
	line-height: 34px;
}

.input input,
.input select,
.input textarea {
	font-size: 16px;
	line-height: 24px;
	padding: 10px 15px;
	width: 100%;
	height: 44px;
	color: $fg-color-grey-1;
	border: 1px solid $brdr-color;
	transition: border-color $anim-transition-time;
}

.input select {
	background-color: transparent;
}

.input textarea:focus,
.input input:focus {
	border-color: $fg-color-accent;
}

.input input,
.input label,
.input textarea,
svg {
	display: block;
}

.input input::placeholder {
	color: $fg-color-grey-3;
}

.input button {
	height: 44px;
	padding: 0 25px;
	background-color: $bg-color-accent;
	color: $fg-color-white;
	border: 0;
	font-size: 16px;
	transition: background-color $anim-transition-time;
}

.input button,
.input input,
.input select,
.input textarea {
	border-radius: 2px;
}

.input button:hover {
	background-color: $bg-color-accent-darker;
}

.input button,
header .menu .item {
	cursor: pointer;
}

.card {
	background-color: $bg-color-white;
	border-radius: 5px;
	box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);

	.back-link {
		padding-bottom: 20px;
		.icon-back {
			width: 20px;
			height: 20px;
			margin-top: 2px;
			margin-right: 6px;
			float: left;
		}
		.back {
			transition: color $anim-transition-time;
		}
		.link-wrapper {
			display: inline-block;
		}
		.link-wrapper:hover .back {
			color: $fg-color-accent;
		}
	}
}



.card > .wrapper {
	padding-top: 26px;
}

.card .title {
	padding: 4px 0 4px 23px;
	font-size: 18px;
	line-height: 24px;
	border-left: 3px solid $fg-color-accent;
	color: $fg-color-grey-2;
	background-color: $bg-color-base;
	cursor: default;
}

.card .content {
	padding: 26px;
}

.card .content .isDisabled {
	cursor: default;
	opacity: 0.4;
}

.card .additional {
	padding-top: 14px;
	color: $fg-color-grey-3;
}

.card .additional .info {
	text-align: center;
	color: $fg-color-accent;
}

.card .additional .link {
	text-align: center;
}

.card .additional .link a {
	color: inherit;
	text-decoration: none;
	transition: color $anim-transition-time;
}

.card .additional .link a:hover {
	color: $fg-color-accent;
}

@import "../shared/status";

.checkbox-icon {
	position: relative;
	width: 20px;
	height: 20px;
	float: left;
}

.checkbox-icon .border {
	width: 100%;
	height: 100%;
	border: 1px solid $fg-color-grey-2;
	border-radius: 3px;
}

.checkbox-icon .body {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 14px;
	height: 14px;
	visibility: hidden;
}

.checkbox-icon.active .border {
	border-color: $fg-color-accent;
}

.checkbox-icon.active .body {
	background-color: $bg-color-accent;
	visibility: visible;
}

.icon {
	width: 20px;
	height: 20px;
	margin-top: 2px;
	margin-right: 6px;
}
