<template>
	<section class="credentials">

		<p class="section-name">
			To Do Lists
		</p>

		<div class="card">
			<div class="wrapper">
				<div class="title">User Login</div>
				<div class="content input">
					<input type="text" placeholder="Username *" v-model="modelUsername" ref="loginUsername">
					<input type="password" placeholder="Password *" v-model="modelPassword" v-on:keyup.enter="login">
					<button type="button" v-on:click="login" v-bind:class="{ isDisabled : activeRequest }">Login</button>
					<div class="links">
						<p><span class="link" v-on:click="$root.gotoRegistration">No account? Click here to register</span></p>
						<p><span class="link" v-on:click="$root.gotoForgottenPassword">Forgotten Password</span></p>
					</div>
					<status-message ref="statusMessage"></status-message>
				</div>
			</div>
		</div>

	</section>
</template>

<script>
	export default {
		name: 'CredentialsLogin',
		data () {
			return {
				modelUsername: '',
				modelPassword: '',
				activeRequest: false
			};
		},
		mounted () {
			this.checkForVerificationToken();
			this.$refs.loginUsername.focus();
		},
		methods: {
			loginUser (username, password) {
				this.activeRequest = true;
				axios.post(
					this.$root.getRequestUri('/login'),
					this.$root.setupRequestParams({
						username: username,
						password: password
					})
				).then( response => {
					if (response.data.status == 'OK') {
						this.$refs.statusMessage.resetStatusMessage();
						this.resetForm();

						this.$root.storageSetSessionId(response.data.data.token);
						this.$root.setSessionId(response.data.data.token);
						this.$root.setUserLogin();
						this.$root.loadUserContent();
						this.$root.redirectToHome();
					}
					else if (
						response.data.status == 'TOKEN_ERROR'
						||
						response.data.status == 'NOT_FOUND'
						||
						response.data.status == 'INVALID_REQUEST'
					) {
						this.$refs.statusMessage.displayErrorMessage(response.data.message);
					}
					this.activeRequest = false;
				}).catch(this.$root.responseErrorHandler);
			},
			login () {
				if (this.activeRequest) {
					return;
				}

				// basic validations
				if (this.modelUsername.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('username_req');
					return;
				}
				if (this.modelPassword.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('password_req');
					return;
				}

				this.$refs.statusMessage.resetStatusMessage();

				this.loginUser(this.modelUsername, this.modelPassword);
			},
			verifySimpleToken (token) {
				axios.post(
					this.$root.getRequestUri('/register/verify'),
					this.$root.setupRequestParams({
						token: token
					})
				).then( response => {
					if (response.data.status == 'OK') {
						this.$refs.statusMessage.displaySuccessMessage('account_verified');
					}
					else if (response.data.status == 'INVALID_REQUEST') {
						this.$refs.statusMessage.displayErrorMessage(response.data.message);
					}
				}).catch(this.$root.responseErrorHandler);
			},
			checkForVerificationToken () {
				if (typeof this.$route.query.token === 'string') {
					if (this.$root.validateSimpleToken(this.$route.query.token)) {
						this.verifySimpleToken(this.$route.query.token);
					}
				}
			},
			resetForm () {
				this.modelUsername = '';
				this.modelPassword = '';
			}
		}
	}
</script>
