<template>
	<section class="credentials">

		<p class="section-name">
			To Do Lists
		</p>

		<div class="card">
			<div class="wrapper">
				<div class="title">Reset Password</div>
				<div class="content input">
					<input type="password" placeholder="New Password *" v-model="modelPassword" ref="rpPass">
					<input type="password" placeholder="New Password Repeat *" v-model="modelPasswordRepeat">
					<button type="button" v-on:click="submit" v-bind:class="{ isDisabled : activeRequest }">Submit</button>
					<status-message ref="statusMessage"></status-message>
				</div>
			</div>
		</div>

	</section>
</template>

<script>
	export default {
		name: 'CredentialsResetPassword',
		data () {
			return {
				simpleToken: null,
				modelPassword: '',
				modelPasswordRepeat: '',
				activeRequest: false,
				redirectTimeout: 6000
			};
		},
		mounted () {
			this.checkForSimpleToken();
			this.$refs.rpPass.focus();
		},
		methods: {
			checkForSimpleToken() {
				if (typeof this.$route.query.token === 'undefined' || ! this.$root.validateSimpleToken(this.$route.query.token)) {
					this.$root.gotoLogin();
					return;
				}
				this.simpleToken = this.$route.query.token;
			},
			sendChangePasswordRequest (password) {
				this.activeRequest = true;
				axios.put(
					this.$root.getRequestUri('/resetpassword'),
					this.$root.setupRequestParams({
						password: password,
						token: this.simpleToken
					})
				).then( response => {
					if (response.data.status == 'OK') {
						this.$refs.statusMessage.resetStatusMessage();
						this.resetForm();
						this.$refs.statusMessage.displaySuccessMessage('pass_change_success');
						setTimeout( () => {
							this.$root.gotoLogin();
						}, this.redirectTimeout);
					}
					else if (
						response.data.status == 'NOT_FOUND' ||
						response.data.status == 'INVALID_REQUEST'
					) {
						this.$refs.statusMessage.displayErrorMessage(response.data.message);
					}
					this.activeRequest = false;
				}).catch(this.$root.responseErrorHandler);
			},
			submit () {
				if (this.activeRequest || this.simpleToken == null) {
					return;
				}

				// basic validations
				if (this.modelPassword.length == 0 || this.modelPasswordRepeat.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('both_pass_req');
					return;
				}
				if (this.modelPassword !== this.modelPasswordRepeat) {
					this.$refs.statusMessage.displayErrorMessage('both_passwords_donot_match');
					return;
				}

				this.$refs.statusMessage.resetStatusMessage();

				this.sendChangePasswordRequest(this.modelPassword);
			},
			resetForm () {
				this.modelPassword = '';
				this.modelPasswordRepeat = '';
			}
		}
	}
</script>
