<template>
	<section class="credentials">

		<p class="section-name">
			To Do Lists
		</p>

		<div class="card">
			<div class="wrapper">
				<div class="title">Forgotten Password</div>
				<div class="content input">
					<input type="text" placeholder="E-Mail *" v-model="modelEmail" ref="fpEmail">
					<button type="button" v-on:click="send" v-bind:class="{ isDisabled : activeRequest }">Send</button>
					<div class="additional">
						<p class="info">
							Enter your e-mail address and we will
							<br>
							send you a link to reset your password
						</p>
					</div>
					<div class="links">
						<p><span class="link" v-on:click="$root.gotoLogin">Back to Login</span></p>
					</div>
					<status-message ref="statusMessage"></status-message>
				</div>
			</div>
		</div>

	</section>
</template>

<script>
	export default {
		name: 'CredentialsForgottenPassword',
		data () {
			return {
				modelEmail: '',
				activeRequest: false
			};
		},
		mounted () {
			this.$refs.fpEmail.focus();
		},
		methods: {
			sendForgottenPasswordRequest (email) {
				this.activeRequest = true;
				axios.post(
					this.$root.getRequestUri('/forgottenpassword'),
					this.$root.setupRequestParams({
						email: email
					})
				).then( response => {
					if (response.data.status == 'OK') {
						this.$refs.statusMessage.resetStatusMessage();
						this.resetForm();
						this.$refs.statusMessage.displaySuccessMessage('email_sent');
					}
					else if (
						response.data.status == 'NOT_FOUND' ||
						response.data.status == 'INVALID_REQUEST'
					) {
						this.$refs.statusMessage.displayErrorMessage(response.data.message);
					}
					this.activeRequest = false;
				}).catch(this.$root.responseErrorHandler);
			},
			send () {
				if (this.activeRequest) {
					return;
				}

				// basic validations
				if (this.modelEmail.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('email_req');
					return;
				}
				if ( ! this.$root.validateEmail(this.modelEmail)) {
					this.$refs.statusMessage.displayErrorMessage('invalid_email');
					return;
				}

				this.$refs.statusMessage.resetStatusMessage();

				this.sendForgottenPasswordRequest(this.modelEmail);
			},
			resetForm () {
				this.modelEmail = '';
			}
		}
	}
</script>
