<template>
	<section class="credentials">

		<p class="section-name">
			To Do Lists
		</p>

		<div class="card">
			<div class="wrapper">
				<div class="title">New User Registration</div>
				<div class="content input">
					<input type="text" maxlength="30" placeholder="Username *" v-model="modelUsername" ref="regUsername">
					<input type="password" maxlength="30" placeholder="Password *" v-model="modelPassword1">
					<input type="password" maxlength="30" placeholder="Repeat Password *" v-model="modelPassword2">
					<input type="text" maxlength="120" placeholder="E-Mail *" v-model="modelEmail">
					<button type="button" v-on:click="register" v-bind:class="{ isDisabled : activeRequest }">Register</button>
					<div class="links">
						<p><span class="link" v-on:click="$root.gotoLogin">Already registered? Back to Login</span></p>
						<p><span class="link" v-on:click="$root.gotoForgottenPassword">Forgotten Password</span></p>
					</div>
					<status-message ref="statusMessage"></status-message>
				</div>
			</div>
		</div>

	</section>
</template>

<script>
	export default {
		name: 'CredentialsRegistration',
		data: function() {
			return {
				modelUsername: '',
				modelPassword1: '',
				modelPassword2: '',
				modelEmail: '',
				activeRequest: false
			};
		},
		mounted () {
			this.$refs.regUsername.focus();
		},
		methods: {
			resetForm () {
				this.modelUsername = '',
				this.modelPassword1 = '',
				this.modelPassword2 = '',
				this.modelEmail = ''
			},
			register (ev) {
				if (this.activeRequest) {
					return;
				}

				// basic validations
				if (this.modelUsername.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('username_req');
					return;
				}
				if (this.modelPassword1.length == 0 || this.modelPassword2.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('both_pass_req');
					return;
				}
				if (this.modelEmail.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('email_req');
					return;
				}
				if ( ! this.$root.validateEmail(this.modelEmail)) {
					this.$refs.statusMessage.displayErrorMessage('invalid_email');
					return;
				}

				this.$refs.statusMessage.resetStatusMessage();

				this.registerUser(
					this.modelUsername,
					this.modelPassword1,
					this.modelPassword2,
					this.modelEmail
				);
			},
			registerUser (username, password1, password2, email) {
				this.activeRequest = true;
				axios.post(
					this.$root.getRequestUri('/register'),
					this.$root.setupRequestParams({
						username: username,
						password: password1,
						repeat_password: password2,
						email: email
					})
				).then( response => {
					if (response.data.status == 'OK') {
						this.resetForm();
						this.$refs.statusMessage.displaySuccessMessage('reg_accepted');
					}
					else if (response.data.status == 'INVALID_REQUEST') {
						this.$refs.statusMessage.displayErrorMessage(response.data.message);
					}
					this.activeRequest = false;
				}).catch(this.$root.responseErrorHandler);
			},
		}
	}
</script>
