<template>
	<header class="user">
		<div class="hello">
			Hello, {{ username }}! Welcome to your To Do dashboard.
		</div>

		<ul class="menu">
			<li class="item" v-on:click="$root.gotoAccount">My Account</li>
			<li class="separator">
				<svg width="1" height="24" viewBox="0 0 1 24">
					<rect width="1" height="24"/>
				</svg>
			</li>
			<li class="item" v-on:click="$root.authLogout">Logout</li>
		</ul>

		<div class="image">
			<img v-bind:src="userProfileImage" alt="user profile image">
		</div>
	</header>
</template>

<script>
	export default {
		name: 'HeaderSection',
		computed: {
			username () {
				return this.$root.header.data.username;
			},
			userProfileImage () {
				if (this.$root.header.data.userProfileImageSmall == null) {
					return this.$root.userProfileImagePath + this.$root.userProfileImageSmallDefault;
				}
				else {
					return this.$root.userProfileImagePath + this.$root.header.data.userProfileImageSmall;
				}
			}
		}
	}
</script>
