<template>
	<div class="card">
		<div class="wrapper">
			<div class="title" v-bind:class="{ 'anim-focus-list-editor' : animFocus }" v-text="editListCurrentTitle"></div>
			<div class="content input">
				<label for="listName">Title:</label>
				<input type="text" maxlength="96" placeholder="List name" ref="listEditorListName" v-model.trim="modelListName">
				<label>Copy items from:</label>
				<select name="copyItemsFrom" v-model="modelCopyItemsFrom" value="0">
					<optgroup label="Default">
						<option value="0" class="item">Start a blank list</option>
					</optgroup>
					<optgroup v-bind:label="getUsersTemplateCategoryName" v-if="displayCurrentListCategory">
						<option class="item" v-bind:value="list.id" v-for="list in getCurrentLists">{{ list.name }}</option>
					</optgroup>
					<optgroup label="Templates" v-if="displayListTemplates">
						<option class="item" v-for="list in getListTemplates" v-bind:value="generateTemplateValue(list.id)">{{ list.name }}</option>
					</optgroup>
				</select>
				<div class="create input">
					<button type="button" v-on:click="submitList" v-bind:class="{ isDisabled : activeRequest }">{{ editListSubmitButtonCurrentLabel }}</button>
				</div>
				<div class="status" v-if="errorOccur">
					<p class="error" v-for="message in errorMessagesToDisplay">{{ message }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'ToDoListEditor',
		data () {
			return {
				activeRequest: false,
				animFocus: false,
				editListCurrentTitle: '',
				editListTitles: {
					new: 'Add a new list',
					edit: 'Edit list'
				},
				editListSubmitButtonCurrentLabel: '',
				editListSubmitButtonLabels: {
					default: 'Create',
					update: 'Update'
				},
				modelListName: '',
				modelCopyItemsFrom: 0,
				animThread: null,
				errorDisplayTimeout: 3000,
				errorDisplayThread: null,
				errorOccur: false,
				errorMessagesToDisplay: {},
				errorMessages: {
					missingName: 'List name is required!',
					missingList: 'The list to copy items from doesn\'t exist!'
				}
			};
		},
		mounted () {
			this.setupState();
		},
		methods: {
			resetState (focusListName) {
				this.$root.todo.isEditListActive = false;
				this.setDefaultState(focusListName);
			},
			setDefaultState (focusListName) {
				this.modelListName = '';
				this.modelCopyItemsFrom = 0;
				this.setEditorTitle('new');
				this.setEditorSubmitButtonLabel('default');
				if (focusListName && ! this.$root.todo.isEditListActive) {
					this.$refs.listEditorListName.focus();
				}
			},
			setupState () {
				if (this.$root.todo.isEditListActive) {
					this.startAnimFocus();
					this.modelListName = this.$parent.$refs.todoListContent.list().name;
					this.modelCopyItemsFrom = 0;
					this.setEditorTitle('edit');
					this.setEditorSubmitButtonLabel('update');
					this.$refs.listEditorListName.focus();
				}
				else {
					this.setDefaultState(true);
				}
			},
			startAnimFocus () {
				if (this.animThread != null) {
					return;
				}
				this.animFocus = true;
				this.animThread = setTimeout( () => {
					this.animFocus = false;
					this.animThread = null;
				}, 1000);
			},
			setEditorSubmitButtonLabel (name) {
				this.editListSubmitButtonCurrentLabel = this.editListSubmitButtonLabels[name];
			},
			setEditorTitle (name) {
				this.editListCurrentTitle = this.editListTitles[name];
			},
			submitList () {
				if (this.activeRequest) {
					return;
				}

				// basic validations
				var hasErrors = false;
				if (this.modelListName.length == 0) {
					this.addError('missing_name');
					hasErrors = true;
				}
				if (hasErrors) {
					this.displayErrors();
					return;
				}

				if (this.$root.validateSession()) {return;}
				this.activeRequest = true;

				// create
				if ( ! this.$root.todo.isEditListActive) {
					axios.post(
						this.$root.getRequestUri('/lists'),
						this.$root.setupRequestParams({
							listName: this.modelListName,
							templateId: this.modelCopyItemsFrom
						}),
						this.$root.setupRequestConfig()
					).then(this.$root.responseMiddleware).then( response => {
						response.data.data.list.tasks = this.$root.todoSplitTasks(response.data.data.list.tasks);
						this.$root.todo.data.lists.unshift(response.data.data.list);
						this.$root.todo.data.activeListId = response.data.data.list.id;

						// (partially) refresh the content of the todo list
						if (this.$parent.$refs.todoListContent) {
							this.$parent.$refs.todoListContent.refresh();
						}

						this.resetState();
						this.activeRequest = false;
					}).catch(this.$root.responseErrorHandler);
				}
				// update
				else {
					axios.put(
						this.$root.getRequestUri('/lists'),
						this.$root.setupRequestParams({
							listId: this.$root.todo.data.activeListId,
							listName: this.modelListName,
							templateId: this.modelCopyItemsFrom
						}),
						this.$root.setupRequestConfig()
					).then(this.$root.responseMiddleware).then( response => {

						// remove the old list
						this.$root.todoRemoveList(this.$root.todo.data.activeListId);

						// add the new list
						response.data.data.list.tasks = this.$root.todoSplitTasks(response.data.data.list.tasks);
						this.$root.todo.data.lists.unshift(response.data.data.list);
						this.$root.todo.data.activeListId = response.data.data.list.id;

						// (partially) refresh the content of the todo list
						this.$parent.$refs.todoListContent.refresh();

						this.resetState();
						this.activeRequest = false;
					}).catch(this.$root.responseErrorHandler);
				}
			},
			setEditorSubmitButtonLabel (name) {
				this.editListSubmitButtonCurrentLabel = this.editListSubmitButtonLabels[name];
			},
			generateTemplateValue (listId) {
				return -listId;
			},
			displayListTemplates () {
				if (this.$root.todo.data.templates == null || this.$root.todo.data.templates.length == 0) {
					return false;
				}
				return true;
			},
			addError (messageId) {
				if (typeof this.errorMessagesToDisplay[messageId] !== 'undefined') {
					return;
				}
				this.errorMessagesToDisplay[messageId] = this.$root.messageCollection[messageId];
			},
			displayErrors () {
				if (this.errorOccur) {
					clearTimeout(this.errorDisplayThread);
				}
				this.errorOccur = true;
				this.errorDisplayThread = setTimeout( () => {
					this.errorOccur = false;
					this.errorMessagesToDisplay = {};
				}, this.errorDisplayTimeout);
			}
		},
		computed: {
			displayCurrentListCategory () {
				return this.$root.todo.data.lists.length == 0 ? false : true;
			},
			getCurrentLists () {
				return this.$root.todo.data.lists;
			},
			getListTemplates () {
				return this.$root.todo.data.templates;
			},
			getUsersTemplateCategoryName () {
				return this.$root.header.data.username + "'s Lists";
			}
		}
	}
</script>
