<template>
	<div class="card">
		<div class="wrapper">
			<div class="title">{{ getListName }}</div>
			<div class="content">
				<div class="header input">
					<input type="text" maxlength="128" placeholder="Enter new item and press Enter" ref="taskName" v-model.trim="modelTaskName" v-on:keyup.enter="manageTaskName" v-on:keyup.esc="cancelEditTaskName">
					<div class="hide-completed-items" v-on:click="hideCompletedItems">
						<div class="checkbox-icon" v-bind:class="{ active : areCompletedItemsHidden }">
							<div class="border"></div>
							<div class="body"></div>
						</div>
						Hide completed items
					</div>
					<div class="edit-list" v-on:click="editThisList">
						<span class="link">Edit this list</span>
						<img src="/assets/imgs/icon-pensil.png" alt="" class="icon">
					</div>
					<div class="delete-list" v-on:click="deleteThisList">
						<span class="link">Delete this list</span>
						<img src="/assets/imgs/icon-close.png" alt="" class="icon">
					</div>
				</div>
				<div class="menu" v-if="displayTaskMenu">
					<div class="incompleted" v-bind:class="{ active : incompletedMenuActive }">
						<button type="button" class="warn" v-on:click="deleteTask">delete</button>
						<button type="button" v-on:click="editTask">edit</button>
						<button type="button" v-on:click="setTaskCompleted">complete</button>
					</div>
				</div>
				<div class="tasks-list" v-if="displayTasksList">
					<draggable class="incompleted tasks" element="ul" v-bind:list="getIncompletedTasks" v-on:sort="onSort">
						<li class="task" v-for="task in getIncompletedTasks">
							<div class="wrapper" v-on:click="setTaskSelected(task.id)">
								<div class="checkbox-icon" v-bind:class="{ active : isTaskSelected(task.id) }">
									<div class="border"></div>
									<div class="body"></div>
								</div>
								{{ task.name }}
							</div>
						</li>
					</draggable>
					<ul class="completed message" v-if="anyCompleted">
						<li>You haven't finished any items yet. Get to work!</li>
					</ul>
					<draggable class="completed tasks" v-if="! areCompletedItemsHidden && ! anyCompleted" element="ul" v-bind:list="getCompletedTasks" v-on:sort="onSort">
						<li class="task" v-for="task in getCompletedTasks">
							<img src="/assets/imgs/icon-checked.png" alt="" class="checked-icon">
							{{ task.name }}
						</li>
					</draggable>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'ToDoListContent',
		data () {
			return {
				selectedTask: 0,
				displayTaskMenu: false,
				displayTasksList: false,
				incompletedMenuActive: false,
				modelTaskName: ''
			};
		},
		mounted () {
			this.updateDisplayTasksList();
			this.updateDisplayTaskMenu();
		},
		methods: {
			onSort (ev) {
				this.$root.todoUpdateTasksOrder(this.list().id, this.list().tasks.completed, this.list().tasks.incompleted);
			},
			refresh () {
				if (this.$root.todo.data.lists.length == 0) {
					return;
				}
				this.updateDisplayTaskMenu();
				this.updateDisplayTasksList();
			},
			resetModelTaskName () {
				this.modelTaskName = '';
			},
			setTaskSelected (taskId) {
				this.cancelEditTaskName();
				this.selectedTask = (this.selectedTask == taskId) ? 0 : taskId;
				if (this.selectedTask == 0) {
					this.updateIncompletedMenuActive(false);
				}
				else {
					this.updateIncompletedMenuActive(true);
				}
			},
			isTaskSelected (taskId) {
				return this.selectedTask == taskId;
			},
			updateIncompletedMenuActive (state) {
				this.incompletedMenuActive = state;
			},
			updateDisplayTaskMenu () {
				this.displayTaskMenu = this.tasksExists();
			},
			updateDisplayTasksList () {
				this.displayTasksList = this.tasksExists();
			},
			tasksExists () {
				if (this.list().tasks.completed.length > 0 || this.list().tasks.incompleted.length > 0) {
					return true;
				}
				return false;
			},
			manageTaskName () {
				if (this.modelTaskName.length == 0) {
					alert("Task name is required!");
					return;
				}
				// add task
				if ( ! this.$root.todo.isEditTaskActive) {
					if (this.$root.validateSession()) {return;}
					axios.post(
						this.$root.getRequestUri('/tasks'),
						this.$root.setupRequestParams({
							listId: this.list().id,
							taskName: this.modelTaskName
						}),
						this.$root.setupRequestConfig()
					).then(this.$root.responseMiddleware).then( response => {
						this.resetModelTaskName();
						this.list().tasks.incompleted.push(response.data.data);
						this.refresh();
					}).catch(this.$root.responseErrorHandler);
				}
				// update task
				else {
					// any changes made?
					var isUpdate = false;
					for (var i in this.list().tasks.incompleted) {
						if (this.list().tasks.incompleted[i].id == this.selectedTask) {
							if (this.list().tasks.incompleted[i].name != this.modelTaskName) {
								this.list().tasks.incompleted[i].name = this.modelTaskName;
								isUpdate = true;
							}
						}
					}
					if ( ! isUpdate) {
						this.cancelEditTaskName();
						return;
					}

					// update the name
					if (this.$root.validateSession()) {return;}
					axios.put(
						this.$root.getRequestUri('/tasks/rename'),
						this.$root.setupRequestParams({
							taskId: this.selectedTask,
							taskName: this.modelTaskName
						}),
						this.$root.setupRequestConfig()
					).then(this.$root.responseMiddleware).then( response => {
					}).catch(this.$root.responseErrorHandler);

					this.cancelEditTaskName();
				}
			},
			deleteTask () {
				if (this.selectedTask == 0) {
					return;
				}

				if (this.$root.validateSession()) {return;}
				axios.delete(
					this.$root.getRequestUri('/tasks/' + this.selectedTask),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
					// remove the task from the list
					for (var i in this.list().tasks.incompleted) {
						if (this.list().tasks.incompleted[i].id == this.selectedTask) {
							this.list().tasks.incompleted.splice(i, 1);
						}
					}
					this.deselectTask();
					this.updateIncompletedMenuActive(false);
					this.updateDisplayTaskMenu();
					this.updateDisplayTasksList();
				}).catch(this.$root.responseErrorHandler);

				this.cancelEditTaskName();
			},
			editTask () {
				if (this.selectedTask == 0) {
					return;
				}

				for (var i in this.list().tasks.incompleted) {
					if (this.list().tasks.incompleted[i].id == this.selectedTask) {
						this.modelTaskName = this.list().tasks.incompleted[i].name;
					}
				}
				this.$root.todo.isEditTaskActive = true;
				this.$refs.taskName.focus();
			},
			setTaskCompleted () {
				if (this.selectedTask == 0) {
					return;
				}

				if (this.$root.validateSession()) {return;}
				axios.put(
					this.$root.getRequestUri('/tasks/complete'),
					this.$root.setupRequestParams({
						taskId: this.selectedTask
					}),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
					for (var t in this.list().tasks.incompleted) {
						if (this.list().tasks.incompleted[t].id == this.selectedTask) {
							this.list().tasks.incompleted[t].completed = 1;
							this.list().tasks.completed.unshift(this.list().tasks.incompleted[t]);
							this.list().tasks.incompleted.splice(t, 1);
							break;
						}
					}

					this.deselectTask();
					this.updateIncompletedMenuActive(false);
					this.$root.todoUpdateTasksOrder(this.list().id, this.list().tasks.completed, this.list().tasks.incompleted);
				}).catch(this.$root.responseErrorHandler);

				this.cancelEditTaskName();
			},
			deleteThisList () {
				if (typeof this.$parent.$refs.todoListEditor !== 'undefined') {
					// the editor might not be mounted yet
					this.$parent.$refs.todoListEditor.resetState();
				}
				if (this.$root.validateSession()) {return;}
				axios.delete(
					this.$root.getRequestUri('/lists/' + this.$root.todo.data.activeListId),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
					this.$root.todoRemoveList(this.$root.todo.data.activeListId);
					this.$root.todoSetActiveList();
					this.refresh();
				}).catch(this.$root.responseErrorHandler);
			},
			editThisList () {
				this.$root.todo.isEditListActive = true;
				this.$parent.todoListEditorIsActive = true;
				if (typeof this.$parent.$refs.todoListEditor !== 'undefined') {
					// the editor might not be mounted yet
					this.$parent.$refs.todoListEditor.setupState();
				}
			},
			deselectTask () {
				this.selectedTask = 0;
			},
			cancelEditTaskName () {
				this.resetModelTaskName();
				this.$root.todo.isEditTaskActive = false;
			},
			hideCompletedItems () {
				this.list().hide_completed_items = (this.list().hide_completed_items == 0) ? 1 : 0;
				if (this.$root.validateSession()) {return;}
				axios.put(
					this.$root.getRequestUri('/lists/hidecompleteditems/' + this.list().id),
					this.$root.setupRequestParams(),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
				}).catch(this.$root.responseErrorHandler);
			},
			list () {
				return this.$root.todoGetCurrentList();
			}
		},
		computed: {
			anyCompleted () {
				return this.list().tasks.completed.length == 0 ? true : false;
			},
			getCompletedTasks () {
				return this.list().tasks.completed;
			},
			getIncompletedTasks () {
				return this.list().tasks.incompleted;
			},
			areCompletedItemsHidden () {
				return this.list().hide_completed_items == 0 ? false : true;
			},
			getListName () {
				return this.list().name;
			}
		}
	}
</script>
