<template>
	<draggable class="all" element="ul" v-bind:list="getTodoLists" v-on:sort="onSort">
		<li class="item" v-for="list in getTodoLists">
			<svg class="selected-item" viewBox="0 0 5.2916665 5.2916668" height="20" width="20" v-if="isActiveListId(list.id)">
				<g transform="translate(0,-291.70832)">
					<path d="m 3.6908066,296.22504 -1.8708844,-1.87089 1.87089,-1.87089 -0.3741797,-0.37418 -2.24507,2.24507 2.2450761,2.24507 z" style="fill:#02b3e4;" />
				</g>
			</svg>
			<span class="stat">[<span class="completed">{{ countCompletedTasks(list.id) }}</span>/{{ countTotalTasks(list.id) }}]</span>
			<span class="link" v-on:click="setActiveList(list.id)">{{ list.name }}</span>
		</li>
	</draggable>
</template>

<script>
	export default {
		name: 'ToDoListsSimple',
		methods: {
			onSort (ev) {
				this.$root.todoUpdateListsOrder();
			},
			isActiveListId (listId) {
				if (this.$root.todo.data.activeListId == listId) {
					return true;
				}
				return false;
			},
			setActiveList (listId) {
				// this list is already displayed
				if (this.$root.todo.data.activeListId == listId) {
					return;
				}
				// if the list editor is in "edit lit" state, reset it
				// the editor might not be mounted yet
				if (typeof this.$parent.$refs.todoListEditor !== 'undefined') {
					this.$parent.$refs.todoListEditor.resetState(false);
				}
				this.$root.todo.data.activeListId = listId;
				this.$parent.$refs.todoListContent.refresh();
			},
			countCompletedTasks (listId) {
				return this.list(listId).tasks.completed.length;
			},
			countTotalTasks (listId) {
				return this.list(listId).tasks.completed.length + this.list(listId).tasks.incompleted.length;
			},
			list (listId) {
				return this.$root.todoFindList(listId);
			}
		},
		computed: {
			getTodoLists () {
				return this.$root.todo.data.lists;
			}
		}
	}
</script>
