<template>
	<main>

		<p class="section-name">
			To Do Lists
		</p>

		<div class="user-lists">

			<section class="selected-list">
				<todo-list-content ref="todoListContent" v-if="todoListContentIsActive"></todo-list-content>
			</section>

			<section class="all-lists">
				<div class="wrapper">

					<todo-list-editor ref="todoListEditor" v-if="todoListEditorIsActive"></todo-list-editor>

					<div class="new-list" v-on:click="openListEditor">
						<img src="/assets/imgs/icon-add.png" alt="add new list" class="add-icon">
						New List
					</div>

					<todo-lists-simple ref="userListSimple" v-if="todoListSimpleIsActive"></todo-lists-simple>

				</div>
			</section>
		</div>

	</main>
</template>

<script>
	export default {
		name: 'ToDoList',
		data () {
			return {
				todoListEditorIsActive: false
			};
		},
		methods: {
			openListEditor () {
				if (this.todoListEditorIsActive == true && typeof this.$refs.todoListEditor !== 'undefined') {
					// the editor might not be mounted yet
					this.$refs.todoListEditor.resetState(true);
				}
				this.todoListEditorIsActive = true;
			},
			todoListExist () {
				return this.lists().length == 0 ? false : true;
			},
			lists () {
				return this.$root.todo.data.lists;
			}
		},
		computed: {
			todoListSimpleIsActive () {
				return this.todoListExist();
			},
			todoListContentIsActive () {
				return this.todoListExist();
			}
		}
	}
</script>
