<template>
	<main>

		<p class="section-name">
			My Account
		</p>

		<div class="user-account">
			<div class="go-back">
				<svg class="goback-icon" viewBox="0 0 5.2916665 5.2916668" height="20" width="20">
					<g transform="translate(0,-291.70832)">
						<path d="m 3.6908066,296.22504 -1.8708844,-1.87089 1.87089,-1.87089 -0.3741797,-0.37418 -2.24507,2.24507 2.2450761,2.24507 z" style="fill:#02b3e4;" />
					</g>
				</svg>
				<span class="link" v-on:click="$root.gotoToDoLists">Back to To Do Lists</span>
			</div>
			<div class="content">

				<section class="change-password">
					<div class="card">
						<div class="wrapper">
							<div class="title">Change Password</div>
							<div class="content input">
								<div class="line">
									<div class="name-wrapper">
										<label class="name">Current Password:</label>
									</div>
									<div class="field-wrapper">
										<input class="field" type="password" maxlength="128" v-model="currentPassword" v-on:keyup.enter="gotoNewPassword">
									</div>
								</div>
								<div class="line">
									<div class="name-wrapper">
										<label class="name">New Password:</label>
									</div>
									<div class="field-wrapper">
										<input class="field" type="password" maxlength="128" v-model="newPassword" ref="newPassword" v-on:keyup.enter="gotoRepeatPassword">
									</div>
								</div>
								<div class="line">
									<div class="name-wrapper">
										<label class="name">Repeat Password:</label>
									</div>
									<div class="field-wrapper">
										<input class="field" type="password" maxlength="128" v-model="repeatPassword" ref="repeatPassword" v-on:keyup.enter="submitChangePassword">
									</div>
								</div>
								<div class="line">
									<div class="status-wrapper">
										<status-message ref="statusMessageCP"></status-message>
									</div>
									<div class="button-wrapper">
										<div class="submit input">
											<button type="button" v-on:click="submitChangePassword" v-bind:class="{ isDisabled : activeRequest }">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="profile-photo">
					<div class="card">
						<div class="wrapper">
							<div class="title">Profile Image</div>
							<div class="content input">
								<section class="current-photo">
									<div class="photo-wrapper">
										<img v-bind:src="userProfileImage" alt="User Profile Image">
									</div>
									<span class="delete" v-on:click="deleteProfileImage" v-if="profileImageDeletionAllowed">
										<img src="/assets/imgs/icon-close.png" alt="" class="icon">
										Delete
									</span>
								</section>
								<section class="edit-photo">
									<div class="select-photo-file-wrapper">
										<input type="file" ref="fileInput" v-bind:accept="getUploadFileTypesAllowed" v-on:change="uploadFileSelected">
										<button class="browse-files" v-on:click="browseFilesHandler">Select new image</button>
									</div>
									<div class="media-info">
										<p>File types allowed: <span><i>JPEG, PNG</i></span></p>
										<p>Max file size: <span><i>500kb</i></span></p>
									</div>
									<div class="upload-action">
										<button class="upload-button" v-bind:class="{ inActive : ! uploadButtonIsActive }" v-on:click="uploadPhotoHandler">Upload</button>
									</div>
									<div class="select-file-name" v-if="selectedFileNameShow">
										{{ selectedFileName }}
									</div>
									<status-message ref="statusMessageUPF"></status-message>
								</section>
							</div>
						</div>
					</div>
				</section>

			</div>
		</div>

	</main>
</template>

<script>
	export default {
		name: 'UserAccount',
		data: function() {
			return {
				uploadFileSizeAllowed: 512000,
				uploadFileTypesAllowed: [
					'image/jpeg',
					'image/png'
				],
				uploadButtonIsActive: false,
				selectedFileNameShow: false,
				selectedFileName: '',
				currentPassword: '',
				newPassword: '',
				repeatPassword: '',
				activeRequest: false
			};
		},
		methods: {
			gotoNewPassword () {
				this.$refs.newPassword.focus();
			},
			gotoRepeatPassword () {
				this.$refs.repeatPassword.focus();
			},
			deleteProfileImage () {
				this.uploadButtonReset();
				this.selectedFileNameReset();

				this.$root.resetUserProfileImages();

				if (this.$root.validateSession()) {return;}
				axios.delete(
					this.$root.getRequestUri('/profileimage'),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
				}).catch(this.$root.responseErrorHandler);
			},
			uploadPhotoHandler () {
				if (this.uploadButtonIsActive == false) {
					return;
				}

				if (this.$refs.fileInput.files.length == 0) {
					this.uploadButtonReset();
					this.selectedFileNameReset();
					this.$refs.statusMessageUPF.displayErrorMessage('file_not_selected');
					return;
				}

				var uploadData = new FormData();
				uploadData.set('userProfileImage', this.$refs.fileInput.files[0]);

				var uploadConfig = {
					headers: {
						'Authorization': 'Bearer ' + this.$root.storageGetSessionId(),
						'Content-Type': 'multipart/form-data'
					},
					/*
					onUploadProgress: function(progressEvent) {
						var percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
						console.log( percentCompleted );
					}
					*/
				};

				this.uploadButtonReset();
				this.selectedFileNameReset();

				if (this.$root.validateSession()) {return;}
				axios.post(
					this.$root.getRequestUri('/profileimage'),
					uploadData,
					uploadConfig
				).then(this.$root.responseMiddleware).then( response => {
					if (response.data.status == 'OK') {
						this.$refs.statusMessageUPF.displaySuccessMessage('file_uploaded_successfully');
						this.$root.setUserProfileImages(response.data.data.userProfileImage);
					}
					else {
						this.$refs.statusMessageUPF.displayErrorMessage(response.data.message);
					}

					// tricky reset of the file input field
					this.$refs.fileInput.type = 'text';
					this.$refs.fileInput.type = 'file';
				}).catch(this.$root.responseErrorHandler);
			},
			browseFilesHandler () {
				this.$refs.fileInput.click();
			},
			selectedFileNameReset () {
				this.selectedFileNameShow = false;
				this.selectedFileName = '';
			},
			uploadFileSelected (e) {
				if (e.target.files.length > 0) {
					this.$refs.statusMessageUPF.resetStatusMessage();
					var validationResult = this.validateFileToUpload(e.target.files[0]);
					if (validationResult === true) {
						this.uploadButtonActivate();
						this.selectedFileNameShow = true;
						this.selectedFileName = e.target.files[0].name;
					}
					else {
						this.uploadButtonReset();
						this.selectedFileNameReset();
						this.$refs.statusMessageUPF.displayErrorMessage(validationResult);
					}
				}
				else {
					this.uploadButtonReset();
					this.selectedFileNameReset();
				}
			},
			uploadButtonActivate () {
				this.uploadButtonIsActive = true;
			},
			uploadButtonReset () {
				this.uploadButtonIsActive = false;
			},
			validateFileToUpload (file) {
				// file size
				if (file.size > this.uploadFileSizeAllowed) {
					return 'file_too_large';
				}

				// file type
				var validFileType = this.uploadFileTypesAllowed.filter( function(fileType) {
					if (fileType == file.type) {
						return true;
					}
					return false;
				});
				if (validFileType.length == 0) {
					return 'invalid_file_type';
				}

				return true;
			},
			submitChangePassword () {
				if (this.activeRequest) {
					return;
				}

				this.$refs.repeatPassword.blur();

				// simple validations first
				if (this.currentPassword.length == 0) {
					this.$refs.statusMessageCP.displayErrorMessage('missing_current_password');
					return;
				}
				if (this.newPassword.length == 0 || this.repeatPassword.length == 0) {
					this.$refs.statusMessageCP.displayErrorMessage('both_pass_req');
					return;
				}
				if (this.newPassword !== this.repeatPassword) {
					this.$refs.statusMessageCP.displayErrorMessage('both_passwords_donot_match');
					return;
				}
				this.$refs.statusMessageCP.resetStatusMessage();

				// Submit the password change
				if (this.$root.validateSession()) {return;}
				this.activeRequest = true;
				axios.put(
					this.$root.getRequestUri('/changepassword'),
					this.$root.setupRequestParams({
						currentPassword: this.currentPassword,
						newPassword: this.newPassword,
						repeatPassword: this.repeatPassword
					}),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
					// console.dir(response);
					if (response.data.status == 'OK') {
						this.$refs.statusMessageCP.displaySuccessMessage('pass_changed');
						this.resetFormCP();
					}
					else {
						this.$refs.statusMessageCP.displayErrorMessage(response.data.message);
					}
					this.activeRequest = false;
				}).catch(this.$root.responseErrorHandler);
			},
			resetFormCP () {
				this.currentPassword = '';
				this.newPassword = '';
				this.repeatPassword = '';
			}
		},
		computed: {
			profileImageDeletionAllowed () {
				if (this.$root.account.data.userProfileImageBig == null) {
					return false;
				}
				return true;
			},
			userProfileImage () {
				if (this.$root.account.data.userProfileImageBig == null) {
					return this.$root.userProfileImagePath + this.$root.userProfileImageBigDefault;
				}
				else {
					return this.$root.userProfileImagePath + this.$root.account.data.userProfileImageBig;
				}
			},
			getUploadFileTypesAllowed: function() {
				return this.uploadFileTypesAllowed.join(',');
			}
		}
	}
</script>
