html, body {
	color: $fg-color-base;
	background-color: $bg-color-base;
	box-sizing: border-box;
}

html, body {
	font-family: "Noto Sans", "Roboto", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}

html, body {
	height: 100vh;
}
