// Foreground Colors
$fg-color-white: rgb(255, 255, 255);
$fg-color-base:  rgb(84, 84, 84);
$fg-color-accent: rgb(2, 179, 228);
$fg-color-accent-darker: darken($fg-color-accent, 6%);
$fg-color-accent-warn: rgb(164, 64, 64);
$fg-color-grey-1: rgb(104, 104, 104);
$fg-color-grey-2: rgb(124, 124, 124);
$fg-color-grey-3: rgb(164, 164, 164);
$fg-color-grey-4: rgb(184, 184, 184);
$fg-color-grey-5: rgb(204, 204, 204);
$fg-color-grey-6: rgb(214, 214, 214);
$fg-color-grey-7: rgb(144, 144, 144);
$fg-color-grey-8: rgb(224, 224, 224);

// Background Colors
$bg-color-white: rgb(255, 255, 255);
$bg-color-white-trans: rgba(255, 255, 255, 0.5);
$bg-color-base: rgb(246, 246, 246);
$bg-color-base-darker: rgb(242, 242, 242);
$bg-color-base-darker-2: rgb(238, 238, 238);
$bg-color-accent: rgb(2, 179, 228);
$bg-color-accent-darker: darken($bg-color-accent, 6%);
$bg-color-accent-warn: $fg-color-accent-warn;
$bg-color-accent-warn-darker: darken($fg-color-accent-warn, 6%);

// Border Colors
$brdr-color: rgb(220, 226, 232);

// Animation
$anim-transition-time: 0.4s;
