<template>
	<div class="main-content dashboard">

		<div class="statistics">
			<p class="item">Total users: <span class="number">{{ $root.dashboard.data.statistics.total_users }}</span></p>
			<p class="item">Total lists: <span class="number">{{ $root.dashboard.data.statistics.total_lists }}</span></p>
			<p class="item">List items: <span class="number">{{ $root.dashboard.data.statistics.tasks_opened }}</span> open, <span class="number">{{ $root.dashboard.data.statistics.tasks_closed }}</span> closed</p>
			<p class="item"><span class="number">{{ $root.dashboard.data.statistics.lists_created_yesterday }}</span> lists and <span class="number">{{ $root.dashboard.data.statistics.tasks_created_yesterday }}</span> items created yesterday</p>
		</div>

		<div class="emails">

			<div class="card send">
				<div class="wrapper">
					<div class="title">E-Mail All Users</div>
					<div class="content input">
						<div class="row">
							<div class="label">From:</div>
							<input type="text" placeholder="" tabindex="1" v-model.trim="modelSendEmailFrom">
						</div>
						<div class="row">
							<div class="label">Subject:</div>
							<input type="text" placeholder="" tabindex="2" v-model.trim="modelSendEmailSubject">
						</div>
						<div class="row">
							<div class="label">Body:</div>
							<textarea placeholder="" tabindex="3" v-model.trim="modelSendEmailBody"></textarea>
						</div>
						<div class="row">
							<status-message ref="statusMessage"></status-message>
							<button type="button" v-on:click="sendEmails">Send</button>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="wrapper">
					<div class="title" title="Toggle automatic refresh">Mass E-Mails History <div class="icon-refresh icon link" v-bind:class="{ active : autoRefreshEmailsHistory !== null }" v-on:click="toggleAutoRefreshEmailsHistory">
						<svg width="20" height="20" viewBox="0 0 5.2916665 5.2916668" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg">
							<g transform="translate(0,-291.70832)">
								<g class="icon-color" transform="rotate(-45,2.6458333,294.35417)">
									<path transform="matrix(0.18708867,0.18708867,-0.18708867,0.18708867,2.6458451,290.61238)" d="M 18.130859,1.8691406 15.65625,4.34375 A 7.9999995,7.9999995 0 0 0 9.8828125,2 7.9999995,7.9999995 0 0 0 4.34375,4.34375 a 7.9999995,7.9999995 0 0 0 0,11.3125 7.9999995,7.9999995 0 0 0 11.3125,0 l -1.414062,-1.414062 a 5.9999998,5.9999998 0 0 1 -8.4843755,0 5.9999998,5.9999998 0 0 1 0,-8.4843755 5.9999998,5.9999998 0 0 1 8.4843755,0 l -2.47461,2.4746094 h 6.363281 z" />
								</g>
							</g>
						</svg>
					</div></div>
					<div class="content">

						<p v-if="displayNoEMailHistoryFound">No history found</p>

						<div class="view-message-wrapper" v-if="displayViewMessage">
							<div class="back-link">
								<div class="link-wrapper link" v-on:click="hideHistoryMessage">
									<svg class="icon-back" viewBox="0 0 5.2916665 5.2916668" height="20" width="20">
										<g transform="translate(0,-291.70832)">
											<path d="m 3.6908066,296.22504 -1.8708844,-1.87089 1.87089,-1.87089 -0.3741797,-0.37418 -2.24507,2.24507 2.2450761,2.24507 z" style="fill:#02b3e4;" />
										</g>
									</svg>
									<span class="back">Back</span>
								</div>
							</div>
							{{ currentHistoryMessage }}
						</div>

						<div class="table" v-if="dispalyEMailHistory">

							<div class="row head">
								<div class="col one">Date/Time</div>
								<div class="col two">E-mails Scheduled</div>
								<div class="col three">E-mails sent</div>
								<div class="col four">Status</div>
								<div class="col five">Actions</div>
							</div>

							<div class="row" v-for="item in $root.dashboard.data.emailshistory">
								<div class="col one">{{ item.request_date }}</div>
								<div class="col two">{{ item.total_scheduled }}</div>
								<div class="col three">{{ item.total_sent }}</div>
								<div class="col four">{{ item.status }}</div>
								<div class="col five">
									<span class="link button" v-on:click="showHistoryMessage(item.request_message)">view message</span>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>

	</div>
</template>

<script>
	export default {
		name: 'DashboardSection',
		data () {
			return {
				modelSendEmailFrom: '',
				modelSendEmailSubject: '',
				modelSendEmailBody: '',
				displayNoEMailHistoryFound: false,
				dispalyEMailHistory: false,
				displayViewMessage: false,
				currentHistoryMessage: '',

				autoRefreshEmailsHistoryIntervalTime: 3000,
				autoRefreshEmailsHistory: null
			};
		},
		beforeDestroy () {
			this.resetAutoRefreshEmailsHistory();
		},
		beforeMount () {
			this.setupEMailHistoryState();
			this.refreshStatistics();
		},
		methods: {
			resetAutoRefreshEmailsHistory () {
				clearInterval(this.autoRefreshEmailsHistory);
				this.autoRefreshEmailsHistory = null;
			},
			toggleAutoRefreshEmailsHistory () {
				if (this.displayNoEMailHistoryFound && this.$root.dashboard.data.emailshistory.length > 0) {
					this.displayNoEMailHistoryFound = false;
					this.dispalyEMailHistory = true;
				}
				if (this.autoRefreshEmailsHistory !== null) {
					this.resetAutoRefreshEmailsHistory();
				}
				else {
					this.autoRefreshEmailsHistory = setInterval( () => {
						if ( ! this.$root.findMassEmailSendingInProgress()) {
							this.resetAutoRefreshEmailsHistory();
						}
						this.$root.loadContentDashboardEmailsHistory();
					}, this.autoRefreshEmailsHistoryIntervalTime);
				}
			},
			refreshStatistics () {
				if (this.$root.dashboard.refresh) {
					// this should happen only if a user or list got deleted
					this.$root.dashboard.refresh = false;
					this.$root.loadContentDashboardStatistics();
				}
			},
			requestSendEmails (from, subject, body) {
				if (this.$root.validateSession()) {return;}
				axios.post(
					this.$root.getRequestUri('/dashboard/massemailing'),
					this.$root.setupRequestParams({
						from: from,
						subject: subject,
						body: body
					}),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
					this.resetForm();
					this.$refs.statusMessage.displaySuccessMessage('mass_emailing_queued_succ');
					this.$root.loadContentDashboardEmailsHistory();
				}).catch(this.$root.responseErrorHandler);
			},
			sendEmails () {

				// basic validations
				if (this.modelSendEmailFrom.length == '') {
					this.$refs.statusMessage.displayErrorMessage('from_required');
					return;
				}
				if (this.modelSendEmailSubject.length == '') {
					this.$refs.statusMessage.displayErrorMessage('subject_required');
					return;
				}
				if (this.modelSendEmailBody.length == '') {
					this.$refs.statusMessage.displayErrorMessage('body_required');
					return;
				}
				this.$refs.statusMessage.resetStatusMessage();

				this.requestSendEmails(this.modelSendEmailFrom, this.modelSendEmailSubject, this.modelSendEmailBody);
			},
			hideHistoryMessage () {
				this.dispalyEMailHistory = true;
				this.displayViewMessage = false;
				this.currentHistoryMessage = '';
			},
			showHistoryMessage (message) {
				this.dispalyEMailHistory = false;
				this.displayViewMessage = true;
				this.currentHistoryMessage = message;
			},
			setupEMailHistoryState() {
				// display the history table?

				if (this.$root.dashboard.data.emailshistory.length > 0) {
					this.dispalyEMailHistory = true;
					this.displayNoEMailHistoryFound = false;
				}
				else {
					this.dispalyEMailHistory = false;
					this.displayNoEMailHistoryFound = true;
				}
			},
			resetForm () {
				this.modelSendEmailFrom = '';
				this.modelSendEmailSubject = '';
				this.modelSendEmailBody = '';
			}
		}
	}
</script>
