<template>
	<header class="admin">
		<div class="hello">
			You are logged in as Admin
		</div>
		<span class="logout link" v-on:click="$root.authLogout">Logout</span>
	</header>
</template>

<script>
	export default {
		name: 'HeaderSection',
	}
</script>
