<template>
	<div class="main-content lists">

		<div class="header">

			<div class="search input">
				<input type="text" placeholder="Enter search phrase and press Enter" v-model.trim="modelSearch" v-on:keyup.enter="handlerSearch">
			</div>

			<div class="filter input">
				<span>User:</span>
				<select v-model.number="modelFilter" v-on:change="handlerFilter">
					<option value="0">All Users</option>
					<option v-for="item in $root.lists.users" v-bind:value="item.id">{{ item.name }}</option>
				</select>
			</div>

			<div class="other input">
				<button type="button" v-on:click="handlerViewAll">View All</button>
			</div>

		</div>

		<div class="body">

			<div class="card">
				<div class="wrapper">
					<div class="title">User Lists</div>
					<div class="content">

						<div class="no-items-found" v-if="!listsExist">
							No lists found
						</div>

						<div class="items-list" v-if="taskListOpened">
							<div class="back-link">
								<div class="link-wrapper link" v-on:click="hideTaskList">
									<svg class="icon-back" viewBox="0 0 5.2916665 5.2916668" height="20" width="20">
										<g transform="translate(0,-291.70832)">
											<path d="m 3.6908066,296.22504 -1.8708844,-1.87089 1.87089,-1.87089 -0.3741797,-0.37418 -2.24507,2.24507 2.2450761,2.24507 z" style="fill:#02b3e4;" />
										</g>
									</svg>
									<span class="back">Back</span>
								</div>
							</div>
							<div class="tasks-loading" v-if="!tasksLoaded">Loading...</div>
							<div class="tasks-wrapper" v-if="tasksLoaded">
								<div class="task" v-for="task in tasksToDisplay">
									<img src="/assets/imgs/icon-paragraph.png" v-if="task.completed == 0"><img src="/assets/imgs/icon-checked.png" v-else> {{ task.name }}
								</div>
							</div>
						</div>

						<div class="table" v-if="listsExist && ! taskListOpened">

							<div class="row head">
								<div class="col one" onmousedown="return false" v-on:click="toggleSelected">Selected</div>
								<div class="col two" v-on:click="toggleSortable('id')">ID <div class="sorting-icon" v-if="sortActive === 'id'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col three" v-on:click="toggleSortable('user_name')">User <div class="sorting-icon" v-if="sortActive === 'user_name'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col four" v-on:click="toggleSortable('name')">Title <div class="sorting-icon" v-if="sortActive === 'name'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col five" v-on:click="toggleSortable('created_at')">Created <div class="sorting-icon" v-if="sortActive === 'created_at'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col six" v-on:click="toggleSortable('total_tasks')">Tasks <div class="sorting-icon" v-if="sortActive === 'total_tasks'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col seven">Actions</div>
							</div>

							<div class="row" v-for="list in $root.lists.state.lists">
								<div class="col one">
									<div class="checkbox-icon" v-bind:class="{ active : isListSelected(list.id) }" v-on:click="toggleListSelection(list.id)">
										<div class="border"></div>
										<div class="body"></div>
									</div>
								</div>
								<div class="col two">{{ list.id }}</div>
								<div class="col three" v-bind:title="list.user_name">{{ list.user_name }}</div>
								<div class="col four" v-bind:title="list.name">{{ list.name }}</div>
								<div class="col five">{{ list.created_at }}</div>
								<div class="col six">
									<span class="redirect link" v-on:click="openTasks(list.id)">{{ list.total_tasks }}</span>
								</div>
								<div class="col seven">
									<span class="link button warn" v-on:click="handlerDeleteList(list.id)">delete</span>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="footer">

			<div class="navigation-wrapper">
				<p class="action-with-selected input">
					<span class="text">With selected</span>
					<select v-model="modelWithSelected">
						<option v-for="(val, key) in withSelectedData" v-bind:value="key">{{ val.label }}</option>
					</select>
					<button type="button" v-on:click="handlerWithSelected">Apply</button>
				</p>
				<p class="show-per-page input">
					<span class="text-show">Show</span>
					<select v-model="modelShowPerPage" v-on:change="handlerShowPerPage">
						<option v-for="(val, key) in showPerPageData" v-bind:value="key">{{ val.label }}</option>
					</select>
					<span>lists per page</span>
				</p>
			</div>

			<div class="pagination-wrapper">
				<pagination namespace="lists" contentloader="loadContentListsData"></pagination>
			</div>

		</div>

	</div>
</template>

<script>
	export default {
		name: 'ListsSection',
		data () {
			return {

				tasksToDisplay: [],
				tasksLoaded: false,

				taskListOpened: false,

				// sorting
				sortActive: null,
				sortDirection: null,

				// selected lists
				selectedLists: null,

				// Search
				modelSearch: null,

				// Filter
				modelFilter: null,

				// With selected
				modelWithSelected: null,
				withSelectedData: {
					'select': {
						label: '-- select --'
					},
					'delete': {
						label: 'Delete'
					}
				},

				// Show Per Page
				modelShowPerPage: null, // note: we need a local copy of the value, to avoid multiple searches for the same value
				showPerPageData: {
					'5': {
						label: '5'
					},
					'10': {
						label: '10'
					},
					'20': {
						label: '20'
					},
					'50': {
						label: '50'
					}
				}
			};
		},
		beforeMount () {
			// load current state
			this.setupState();
			this.resetSelectedLists();
			this.resetWithSelected();
		},
		methods: {

			getListTasks (listId) {
				var tasks = this.$root.getListTasks(listId);

				// not loaded yet
				if (tasks === false) {
					return;
				}

				this.tasksToDisplay = tasks;
				this.tasksLoaded = true;
			},

			displayTasks (tasks) {
				if (this.taskListOpened) {
					this.tasksToDisplay = tasks;
					this.tasksLoaded = true;
				}
			},

			hideTaskList () {
				this.tasksToDisplay = [];
				this.tasksLoaded = false;

				this.taskListOpened = false;
			},

			openTasks (listId) {
				this.getListTasks(listId);
				this.taskListOpened = true;
			},

			toggleSortable (name) {
				if (this.sortActive !== name) {
					this.$root.listsResetSort();
					this.sortActive = this.$root.lists.state.sort.active = name;
					this.sortDirection = this.$root.lists.state.sort.direction;
					this.$root.loadContentListsData();
					return;
				}

				this.toggleSort();
				this.$root.loadContentListsData();
			},

			toggleSort () {
				this.sortDirection.asc = ! this.sortDirection.asc;
				this.sortDirection.desc = ! this.sortDirection.desc;
				this.$root.lists.state.sort.direction.asc = this.sortDirection.asc;
				this.$root.lists.state.sort.direction.desc = this.sortDirection.desc;
			},

			handlerShowPerPage () {
				// no changes, go away
				if (this.modelShowPerPage == this.$root.lists.state.showPerPage) {
					return;
				}
				this.resetWithSelectedForm();
				this.$root.lists.state.showPerPage = this.modelShowPerPage;
				this.$root.loadContentListsData();
			},

			resetWithSelected () {
				this.modelWithSelected = 'select';
			},

			resetWithSelectedForm() {
				this.resetSelectedLists();
				this.resetWithSelected();
			},

			handlerWithSelected () {

				// basic validation
				if (this.selectedLists.length == 0) {
					return;
				}
				if (this.modelWithSelected == 'select') {
					return;
				}

				// action
				switch (this.modelWithSelected) {
					case 'delete':
						this.deleteLists(this.selectedLists);
						break;
				}

				// reset
				this.resetWithSelectedForm();
			},

			handlerDeleteList(listId) {
				this.removeListSelection(listId);
				this.deleteLists([listId]);
			},

			deleteLists (lists) {
				if (this.$root.validateSession()) {return;}
				axios.delete(
					this.$root.getRequestUri('/lists'),
					this.$root.setupRequestConfig({
						params: {
							lists: lists
						}
					})
				).then(this.$root.responseMiddleware).then( response => {
					this.$root.loadContentListsData();
					this.$root.dashboard.refresh = true;
				}).catch(this.$root.responseErrorHandler);
			},

			removeListSelection (listId) {
				var itemPosition = this.selectedLists.indexOf(listId);

				if (itemPosition !== -1) {
					this.selectedLists.splice(itemPosition, 1);
				}
			},

			handlerDeleteUser (listId) {
				this.removeListSelection(listId);
				this.deleteLists([listId]);
			},

			toggleListSelection (listId) {
				var itemPosition = this.selectedLists.indexOf(listId);

				if (itemPosition === -1) {
					this.selectedLists.push(listId);
				}
				else {
					this.selectedLists.splice(itemPosition, 1);
				}
			},

			isListSelected (listId) {
				if (this.selectedLists.indexOf(listId) === -1) {
					return false;
				}
				return true;
			},

			deselectAllLists () {
				this.resetSelectedLists();
			},

			selectAllLists () {
				for (var i in this.$root.lists.state.lists) {
					var itemPosition = this.selectedLists.indexOf(this.$root.lists.state.lists[i].id);
					if (itemPosition === -1) {
						this.selectedLists.push(this.$root.lists.state.lists[i].id);
					}
				}
			},

			toggleSelected () {
				if (this.selectedLists.length == 0) {
					this.selectAllLists();
				}
				else {
					this.deselectAllLists();
				}
			},

			handlerViewAll () {
				this.$root.listsResetStateSearch();
				this.$root.listsResetStateFilter();

				// nothing to reset, go away
				if (
					this.modelSearch == this.$root.lists.state.search
					&&
					this.modelFilter == this.$root.lists.state.filter
				) {
					return;
				}

				this.modelSearch = this.$root.lists.state.search;
				this.modelFilter = this.$root.lists.state.filter;

				this.$root.loadContentListsData();
			},

			resetSelectedLists () {
				this.selectedLists = [];
			},

			handlerFilter () {
				if (this.modelFilter == this.$root.lists.state.filter) {
					return;
				}

				this.resetSelectedLists();
				this.$root.lists.state.filter = this.modelFilter;
				this.$root.loadContentListsData();
			},

			handlerSearch () {
				if (this.modelSearch == this.$root.lists.state.search) {
					return;
				}

				// trigger reload
				this.$root.lists.state.search = this.modelSearch;
				this.$root.loadContentListsData();
			},

			setupState () {

				// search
				this.modelSearch = this.$root.lists.state.search;

				// filter
				this.modelFilter = this.$root.lists.state.filter;

				// sort
				this.sortActive = this.$root.lists.state.sort.active;
				this.sortDirection = this.$root.lists.state.sort.direction;

				// show per page
				this.modelShowPerPage = this.$root.lists.state.showPerPage;
			}
		},
		computed: {

			listsExist() {
				return this.$root.lists.state.total > 0 ? true : false;
			}
		}
	}
</script>
