<template>
	<div class="main-content login">

		<p class="page-title">To Do Lists</p>
		<p class="page-title-sub">Admin Panel</p>

		<div class="body">

			<div class="card">
				<div class="wrapper">
					<div class="title">Login</div>
					<div class="content input">

						<input type="text" placeholder="Username *" maxlength="30" v-model="modelUsername" ref="loginUsername">
						<input type="password" placeholder="Password *" maxlength="30" v-model="modelPassword" v-on:keyup.enter="login" ref="loginPassword">
						<button type="button" v-on:click="login" v-bind:class="{ isDisabled : activeRequest }">Login</button>

						<status-message ref="statusMessage"></status-message>

					</div>
				</div>
			</div>

		</div>

	</div>
</template>

<script>
	export default {
		name: 'LoginSection',
		data () {
			return {
				modelUsername: 'Admin',
				modelPassword: '',

				activeRequest: false
			};
		},
		mounted () {
			this.$refs.loginPassword.focus();
		},
		methods: {
			loginUser (username, password) {
				this.activeRequest = true;
				axios.post(
					this.$root.getRequestUri('/login'),
					this.$root.setupRequestParams({
						username: username,
						password: password
					})
				).then( response => {
					if (response.data.status == 'OK') {
						this.$refs.statusMessage.resetStatusMessage();
						this.resetForm();

						this.$root.storageSetSessionId(response.data.data.token);
						this.$root.setSessionId(response.data.data.token);
						this.$root.setUserLogin();
						this.$root.loadUserContent();
						this.$root.redirectToHome();
					}
					else if (
						response.data.status == 'TOKEN_ERROR' ||
						response.data.status == 'NOT_FOUND' ||
						response.data.status == 'INVALID_REQUEST'
					) {
						this.$refs.statusMessage.displayErrorMessage(response.data.message);
					}
					this.activeRequest = false;
				}).catch(this.$root.responseErrorHandler);
			},

			login () {
				if (this.activeRequest) {
					return;
				}

				// basic validations
				if (this.modelUsername.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('username_req');
					return;
				}
				if (this.modelPassword.length == 0) {
					this.$refs.statusMessage.displayErrorMessage('password_req');
					return;
				}

				this.$refs.statusMessage.resetStatusMessage();

				this.loginUser(this.modelUsername, this.modelPassword);
			},

			resetForm () {
				this.modelUsername = '';
				this.modelPassword = '';
			}
		}
	}
</script>
