<template>
	<div class="main-menu">
		<div class="link item" v-for="item in items" v-bind:class="{ active : isActive(item.id) }" v-on:click="switchTo(item.id)">{{ item.name }}</div>
	</div>
</template>

<script>
	export default {
		name: 'MenuSection',
		data () {
			return {
				active: 0,
				items: [
					{ 'id': 1, 'name': 'Dashboard', 'routeName': 'dashboard' },
					{ 'id': 2, 'name': 'Users', 'routeName': 'users' },
					{ 'id': 3, 'name': 'Lists', 'routeName': 'lists' }
				]
			};
		},
		beforeMount () {
			this.updateActive();
		},
		methods: {

			updateActive () {
				for (var i in this.items) {
					if (typeof this.$router.history.current.name !== 'undefined') {
						if (this.items[i].routeName == this.$router.history.current.name) {
							this.setActive(this.items[i].id);
							break;
						}
					}
					else if (this.$router.history.current.matched.length > 0) {
						for (var a in this.$router.history.current.matched) {
							if (this.$router.history.current.matched[a].name == this.items[i].routeName) {
								this.setActive(this.items[i].id);
								break;
							}
						}
					}
				}
			},

			switchTo (id) {
				this.setActive(id);
				switch (id) {
					case 1:
						this.$root.gotoDashboard();
						break;
					case 2:
						this.$root.gotoUsers();
						break;
					case 3:
						this.$root.gotoLists();
						break;
				}
			},

			setActiveByRouteName (name) {
				for (var i in this.items) {
					if (this.items[i].routeName == name) {
						this.setActive(this.items[i].id);
					}
				}
			},

			setActive (id) {
				this.active = id;
			},

			isActive (id) {
				return this.active == id;
			}
		}
	}
</script>
