<template>
	<div class="pagination" v-if="isPaginationNeeded">
		<span class="link button" v-bind:class="{ disabled : classIsLeftNavDisabled }" v-on:click="gotoFirst">first</span>
		<span class="link button" v-bind:class="{ disabled : classIsLeftNavDisabled }" v-on:click="gotoPrev">prev</span>
		<span class="showing">Showing <span class="from">{{ getStatFrom }}</span> - <span class="to">{{ getStatTo }}</span> of <span class="total">{{ getStatTotal }}</span></span>

		<span class="page-number" v-for="item in items" v-bind:class="{ active : item.active }" v-on:click="gotoPage(item.page)">{{ item.page }}</span>

		<span class="link button" v-bind:class="{ disabled : classIsRightNavDisabled }" v-on:click="gotoNext">next</span>
		<span class="link button" v-bind:class="{ disabled : classIsRightNavDisabled }" v-on:click="gotoLast">last</span>
	</div>
</template>

<script>
	export default {
		name: 'Pagination',
		props: ['namespace', 'contentloader'],
		data () {
			return {
				state: null,

				// this will contain all the items that will be rendered as page buttons in the pagination
				items: [],

				// *** settings

				// the max amount of page buttons on each sides
				// for example if this value is set to 4, then the pagination at its max size would look like this:
				// 1 2 3 4 [5] 6 7 8 9
				// notes:
				//    - the max total amount of buttons will be calculated like this: 2 * thisValue + 1
				//    - must be a positive number!
				size: 3
			};
		},
		watch: {
			'state.users': {
				deep: true,
				handler (to, from) {
					this.recompile();
				}
			}
		},
		beforeMount () {
			this.state = this.$root[this.namespace].state;
			this.compile();
		},
		methods: {

			recompile () {
				this.compile();
			},

			compile () {

				// max pages
				var maxPages = Math.ceil(this.state.total / this.state.showPerPage);

				// current page
				var currentPage = this.state.page;

				// determine the type
				var type;
				//    * left:
				//      12 [13] 14 15 16 17 18 19 20
				if (currentPage - this.size < 1) {
					type = 'left';
				}
				//    * right:
				//      12 13 14 15 16 17 18 [19] 20
				else if (currentPage + this.size > maxPages) {
					type = 'right';
				}
				// if none of the above then it is 'center'
				//    * center:
				//      12 13 14 15 [16] 17 18 19 20
				else {
					type = 'center';
				}

				// calcualte the amount of buttons to put on both sides
				var leftAmount = 0;
				var rightAmount = 0;
				if (type == 'left') {
					// 1 2 [3] 4 5 6 7 8 9 10
					leftAmount = currentPage - 1;
					rightAmount = (this.size * 2) - leftAmount;
					if (rightAmount + leftAmount + 1 > maxPages) {
						rightAmount = maxPages - 1 - leftAmount;
					}
				}
				// 1 2 3 4 5 6 7 [8] 9 10
				else if (type == 'right') {
					rightAmount = maxPages - currentPage;
					leftAmount = (this.size * 2) - rightAmount;
					if (leftAmount + rightAmount + 1 > maxPages) {
						leftAmount = maxPages - 1 - rightAmount;
					}
				}
				else  { // center
					leftAmount = this.size;
					rightAmount = this.size;
				}

				// generate the buttons
				this.items = [];
				// { page: 1, active: false }
				// add left
				if (leftAmount > 0) {
					var counter = currentPage - leftAmount;
					while (currentPage != counter) {
						this.items.push({
							page: counter,
							active: false
						});
						counter++;
					}
				}
				// add the current button
				this.items.push({
					page: currentPage,
					active: true
				});
				// add right
				if (rightAmount > 0) {
					counter = 0;
					while (rightAmount != counter) {
						this.items.push({
							page: currentPage + (counter + 1),
							active: false
						});
						counter++;
					}
				}
			},

			reloadContent () {
				this.$root[this.contentloader]( () => {
					this.recompile();
				});
			},

			gotoPage(pageNumber) {
				if (pageNumber == this.state.page) {
					return;
				}

				this.state.page = pageNumber;
				this.reloadContent();
			},

			gotoFirst (ev) {
				if (this.isLeftNavDisabled()) {
					return;
				}
				this.state.page = 1;
				this.reloadContent();
			},

			gotoPrev (ev) {
				if (this.isLeftNavDisabled()) {
					return;
				}
				this.state.page -= 1;
				this.reloadContent();
			},

			gotoNext (ev) {
				if (this.isRightNavDisabled()) {
					return;
				}
				this.state.page += 1;
				this.reloadContent();
			},

			gotoLast (ev) {
				if (this.isRightNavDisabled()) {
					return;
				}
				this.state.page = Math.ceil(this.state.total / this.state.showPerPage);
				this.reloadContent();
			},

			isLeftNavDisabled () {
				return this.state.page == 1 ? true : false;
			},

			isRightNavDisabled () {
				if (this.state.page < Math.ceil(this.state.total / this.state.showPerPage)) {
					return false;
				}
				return true;
			}
		},
		computed: {

			isPaginationNeeded () {
				return this.state.total == 0 ? false : true;
			},

			classIsRightNavDisabled () {
				return this.isRightNavDisabled();
			},

			classIsLeftNavDisabled () {
				return this.isLeftNavDisabled();
			},

			getStatTotal () {
				return this.state.total;
			},

			getStatFrom () {
				return this.state.page * this.state.showPerPage - this.state.showPerPage + 1;
			},

			getStatTo () {
				var to = this.state.page * this.state.showPerPage;
				if (to > this.state.total) {
					to = this.state.total;
				}
				return to;
			}
		}
	}
</script>
