<template>
	<div class="main-content users">

		<div class="header">

			<div class="search input">
				<input type="text" placeholder="Enter search phrase and press Enter" v-model.trim="modelSearch" v-on:keyup.enter="handlerSearch">
			</div>

			<div class="filter input">
				<span>Filter:</span>
				<select v-model="modelFilter" v-on:change="handlerFilter">
					<option v-for="(val, key) in filterData" v-bind:value="key">{{ val.label }}</option>
				</select>
			</div>

			<div class="other input">
				<button type="button" v-on:click="handlerViewAll">View All</button>
			</div>

		</div>

		<div class="body">

			<div class="card">
				<div class="wrapper">
					<div class="title">Users List</div>
					<div class="content">

						<div class="no-items-found" v-if="!usersExist">
							No users found
						</div>

						<div class="table" v-if="usersExist">

							<div class="row head">
								<div class="col one" onmousedown="return false" v-on:click="toggleSelected">Selected</div>
								<div class="col two" v-on:click="toggleSortable('id')">ID <div class="sorting-icon" v-if="sortActive === 'id'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col three" v-on:click="toggleSortable('name')">Name <div class="sorting-icon" v-if="sortActive === 'name'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col four" v-on:click="toggleSortable('email')">E-Mail <div class="sorting-icon" v-if="sortActive === 'email'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col five" v-on:click="toggleSortable('created_at')">Created <div class="sorting-icon" v-if="sortActive === 'created_at'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col six" v-on:click="toggleSortable('updated_at')">Last Login <div class="sorting-icon" v-if="sortActive === 'updated_at'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col seven" v-on:click="toggleSortable('active')">Suspended <div class="sorting-icon" v-if="sortActive === 'active'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col eight" v-on:click="toggleSortable('total_lists')">Lists <div class="sorting-icon" v-if="sortActive === 'total_lists'" v-bind:class="{ asc : sortDirection.asc, desc : sortDirection.desc }"></div></div>
								<div class="col nine">Actions</div>
							</div>

							<div class="row" v-for="user in $root.users.state.users">
								<div class="col one">
									<div class="checkbox-icon" v-bind:class="{ active : isUserSelected(user.id) }" v-on:click="toggleUserSelection(user.id)">
										<div class="border"></div>
										<div class="body"></div>
									</div>
								</div>
								<div class="col two">{{ user.id }}</div>
								<div class="col three" v-bind:title="user.name">
									<div class="mask">{{ user.name }}</div>
								</div>
								<div class="col four" v-bind:title="user.email">
									<div class="mask">{{ user.email }}</div>
								</div>
								<div class="col five">{{ user.created_at }}</div>
								<div class="col six">{{ user.updated_at }}</div>
								<div class="col seven">{{ isUserActive(user.active) }}</div>
								<div class="col eight">
									<span class="redirect link" v-on:click="redirectToLists(user.id)">{{ user.total_lists }}</span>
								</div>
								<div class="col nine">
									<span class="link button warn" v-on:click="handlerDeleteUser(user.id)">delete</span>
									<span class="link button" v-on:click="$root.loginAsThisUser(user.id)">login as this user</span>
									<span class="link button" v-if="user.active" v-on:click="handlerSuspendAccount(user.id)">suspend</span>
									<span class="link button" v-else="user.active" v-on:click="handlerUnsuspendAccount(user.id)">unsuspend</span>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="footer">

			<div class="navigation-wrapper">
				<p class="action-with-selected input">
					<span class="text">With selected</span>
					<select v-model="modelWithSelected">
						<option v-for="(val, key) in withSelectedData" v-bind:value="key">{{ val.label }}</option>
					</select>
					<button type="button" v-on:click="handlerWithSelected">Apply</button>
				</p>
				<p class="show-per-page input">
					<span class="text-show">Show</span>
					<select v-model="modelShowPerPage" v-on:change="handlerShowPerPage">
						<option v-for="(val, key) in showPerPageData" v-bind:value="key">{{ val.label }}</option>
					</select>
					<span>users per page</span>
				</p>
			</div>

			<div class="pagination-wrapper">
				<pagination namespace="users" contentloader="loadContentUsers"></pagination>
			</div>

		</div>

	</div>
</template>

<script>
	export default {
		name: 'UsersSection',
		data () {
			return {
				// sorting
				sortActive: null,
				sortDirection: null,

				// selected users
				selectedUsers: null,

				// Search
				modelSearch: null,

				// Filter
				modelFilter: null,
				filterData: {
					'all': {
						label: 'All Users'
					},
					'active': {
						label: 'Active Users'
					},
					'inactive': {
						label: 'Inactive Users'
					}
				},

				// With selected
				modelWithSelected: null, // see resetWithSelected()
				withSelectedData: {
					'select': {
						label: '-- select --'
					},
					'suspend': {
						label: 'Suspend'
					},
					'unsuspend': {
						label: 'Unsuspend'
					},
					'delete': {
						label: 'Delete'
					}
				},

				// Show Per Page
				modelShowPerPage: null, // note: we need a local copy of the value, to avoid multiple searches for the same value
				showPerPageData: {
					'5': {
						label: '5'
					},
					'10': {
						label: '10'
					},
					'20': {
						label: '20'
					},
					'50': {
						label: '50'
					}
				}
			};
		},
		beforeMount () {
			// load current state
			this.setupState();
			this.resetSelectedUsers();
			this.resetWithSelected();
		},
		mounted () {},
		methods: {

			redirectToLists (userId) {
				this.$root.lists.state.filter = userId;
				this.$root.loadContentListsData();
				this.$root.gotoLists();
				this.$root.mainmenuSetActive('lists');
			},

			toggleSortable (name) {
				if (this.sortActive !== name) {
					this.$root.usersResetSort();
					this.sortActive = this.$root.users.state.sort.active = name;
					this.sortDirection = this.$root.users.state.sort.direction;
					this.$root.loadContentUsers();
					return;
				}

				this.toggleSort();
				this.$root.loadContentUsers();
			},

			toggleSort () {
				this.sortDirection.asc = ! this.sortDirection.asc;
				this.sortDirection.desc = ! this.sortDirection.desc;
				this.$root.users.state.sort.direction.asc = this.sortDirection.asc;
				this.$root.users.state.sort.direction.desc = this.sortDirection.desc;
			},

			toggleSelected () {
				if (this.selectedUsers.length == 0) {
					this.selectAllUsers();
				}
				else {
					this.deselectAllUsers();
				}
			},

			deselectAllUsers () {
				this.resetSelectedUsers();
			},

			selectAllUsers () {
				for (var i in this.$root.users.state.users) {
					var itemPosition = this.selectedUsers.indexOf(this.$root.users.state.users[i].id);
					if (itemPosition === -1) {
						this.selectedUsers.push(this.$root.users.state.users[i].id);
					}
				}
			},

			handlerShowPerPage () {
				// no changes, go away
				if (this.modelShowPerPage == this.$root.users.state.showPerPage) {
					return;
				}
				this.resetWithSelectedForm();
				this.$root.users.state.showPerPage = this.modelShowPerPage;
				this.$root.loadContentUsers();
			},

			handlerViewAll () {
				this.$root.usersResetStateSearch();
				this.$root.usersResetStateFilter();

				// nothing to reset, go away
				if (
					this.modelSearch == this.$root.users.state.search
					&&
					this.modelFilter == this.$root.users.state.filter
				) {
					return;
				}

				this.modelSearch = this.$root.users.state.search;
				this.modelFilter = this.$root.users.state.filter;

				this.$root.loadContentUsers();
			},

			handlerFilter () {
				if (this.modelFilter == this.$root.users.state.filter) {
					return;
				}

				this.resetSelectedUsers();
				this.$root.users.state.filter = this.modelFilter;
				this.$root.loadContentUsers();
			},

			handlerSearch () {
				if (this.modelSearch == this.$root.users.state.search) {
					return;
				}

				// trigger reload
				this.$root.users.state.search = this.modelSearch;
				this.$root.loadContentUsers();
			},

			handlerWithSelected () {

				// basic validation
				if (this.selectedUsers.length == 0) {
					return;
				}
				if (this.modelWithSelected == 'select') {
					return;
				}

				// action
				switch (this.modelWithSelected) {
					case 'suspend':
						this.suspendAccounts(this.selectedUsers);
						break;
					case 'unsuspend':
						this.unsuspendAccounts(this.selectedUsers);
						break;
					case 'delete':
						this.deleteUsers(this.selectedUsers);
						break;
				}

				// reset
				this.resetWithSelectedForm();
			},

			deleteUsers (users) {
				if (this.$root.validateSession()) {return;}
				axios.delete(
					this.$root.getRequestUri('/users'),
					this.$root.setupRequestConfig({
						params: {
							users: users
						}
					})
				).then(this.$root.responseMiddleware).then( response => {
					this.$root.loadContentUsers();
					this.$root.dashboard.refresh = true;
				}).catch(this.$root.responseErrorHandler);
			},

			handlerDeleteUser (userId) {
				this.removeUserSelection(userId);
				this.deleteUsers([userId]);
			},

			isUserSelected (userId) {
				if (this.selectedUsers.indexOf(userId) === -1) {
					return false;
				}
				return true;
			},

			removeUserSelection (userId) {
				var itemPosition = this.selectedUsers.indexOf(userId);

				if (itemPosition !== -1) {
					this.selectedUsers.splice(itemPosition, 1);
				}
			},

			toggleUserSelection (userId) {
				var itemPosition = this.selectedUsers.indexOf(userId);

				if (itemPosition === -1) {
					this.selectedUsers.push(userId);
				}
				else {
					this.selectedUsers.splice(itemPosition, 1);
				}
			},

			updateActiveFlag (users, activeValue) {
				for (var i in this.$root.users.state.users) {
					for (var a in users) {
						if (this.$root.users.state.users[i].id == users[a]) {
							this.$root.users.state.users[i].active = activeValue;
							break;
						}
					}
				}
			},

			suspendAccounts (users) {
				this.setAccountsState(users, 'suspend', 0);
			},

			unsuspendAccounts (users) {
				this.setAccountsState(users, 'unsuspend', 1);
			},

			setAccountsState (users, action, value) {
				if (this.$root.validateSession()) {return;}
				axios.put(
					this.$root.getRequestUri('/users/' + action),
					this.$root.setupRequestParams({
						users: users
					}),
					this.$root.setupRequestConfig()
				).then(this.$root.responseMiddleware).then( response => {
					this.updateActiveFlag(users, value);

					// NOTE:
					// when a user is getting suspended (deactivated) and "Active Users" is selected in the filter
					// then the suspended user shouldn't be in the currently displayed list with active users
					// so, reload the content for this page
					if (
						action == 'suspend' && this.modelFilter == 'active'
						||
						action == 'unsuspend' && this.modelFilter == 'inactive'
					) {
						this.$root.loadContentUsers();
					}
				}).catch(this.$root.responseErrorHandler);
			},

			handlerSuspendAccount (userId) {
				this.suspendAccounts([userId]);
			},

			handlerUnsuspendAccount (userId) {
				this.unsuspendAccounts([userId]);
			},

			isUserActive(active) {
				return active == 0 ? 'Yes' : 'No';
			},

			resetWithSelected () {
				this.modelWithSelected = 'select';
			},

			resetSelectedUsers () {
				this.selectedUsers = [];
			},

			resetWithSelectedForm() {
				this.resetSelectedUsers();
				this.resetWithSelected();
			},

			setupState () {

				// search
				this.modelSearch = this.$root.users.state.search;

				// filter
				this.modelFilter = this.$root.users.state.filter;

				// sort
				this.sortActive = this.$root.users.state.sort.active;
				this.sortDirection = this.$root.users.state.sort.direction;

				// show per page
				this.modelShowPerPage = this.$root.users.state.showPerPage;
			}
		},
		computed: {

			usersExist() {
				return this.$root.users.state.total > 0 ? true : false;
			}
		}
	}
</script>
